{% extends '_layout.twig' %}

{% block breadcrumbs %}

{% endblock %}

{% block title %}
	404
{% endblock %}
{% block scripts %}

{% endblock %}


{% block content %}
	<div class="inner_block page_404">
		<h1>{{ lang.text_404 }}</h1>
		<span class="text">
			{{ lang.try_to_start_from_text }} <a href="{{ site_url }}">{{ lang.main_r_text }}</a>
			{% if city_urls.catalog %}
				{{ lang.or_text }} <a href="{{ city_urls.catalog }}">{{ lang.from_catalog_text }}</a>
			{% endif %}
		</span>
	</div>
{% endblock %}

{% block contact_form %}
	
{% endblock %}
