{% if cars.cars is not empty %}
    <div class="products_list">
        {% for car_block in cars.cars %}
            <div class="page">
                {% for car in car_block %}
                    <div class="products_item">
                        <a href="{{ car.post_url }}">
                            <div class="labels">
                                {% if car.car_labels %}
                                    {% for labels in  car.car_labels %}
                                        <span class="special_label label"
                                              style="color: {{ labels.color_text }}; background:radial-gradient(circle at top left, transparent 6px,  {{ labels.color_label }} 0) top left, radial-gradient(circle at top right, transparent 6px,  {{ labels.color_label }} 0) top right, radial-gradient(circle at bottom right, transparent 6px,  {{ labels.color_label }} 0) bottom right, radial-gradient(circle at bottom left, transparent 6px,  {{ labels.color_label }} 0) bottom left;">
                                                {{ labels.name }}</span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <span class="class_label label">{{ car.class_label }}</span>

                            <div class="image-holder">
                                <div class="image">
                                    {% if car.main_thumnail_url is not empty %}
                                        <img width="500" src="{{ car.main_thumnail_url }}" alt="{{ car.post_title }}"/>
                                    {% else %}
                                        <img width="500" src="{{ car.default_thumnail_url }}"
                                             alt="{{ car.post_title }}"/>
                                    {% endif %}
                                </div>
                            </div>
                            <span class="title">{{ car.post_title }}</span>
                            {#  <span>{{ car.get_post_views }}</span>#}
                            {#    <div class="attr">
                                    <span >{{ car.acf.attribute_motor.value }}</span>
                                    <span >{{ car.acf.attribute_fuel_type.value }}</span>
                                    <span >{{ car.acf.attribute_fuel_consumption.value }}</span>
                                </div>#}
                            {#<div class="price">#}
                            {#{% if car.specialPrice %}#}
                            {#<span class="special-price">#}
                            {#{{ theme_options.currency }}{{ car.specialPrice }}#}
                            {#</span>#}
                            {#<span class="regular-price">#}
                            {#{{ theme_options.currency }}{{ car.regularPrice }}#}
                            {#</span>#}
                            {#{% else %}#}
                            {#<span class="price">#}
                            {#<span class="special-price">#}
                            {#{{ theme_options.currency }}{{ car.regularPrice }}#}
                            {#</span>#}
                            {#</span>#}
                            {#{% endif %}#}
                            {#</div>#}
                            {% if car.priceTable is not empty %}
                                <div class="price_grid">
                                    {% for column in car.priceTable %}
                                        <div class="price_grid_item">
                                            <div class="top_part">
                                                <span class="from">{{ column.date_from }}</span>
                                                -
                                                <span class="to">{{ column.date_to }}</span>
                                                <span class="days">
                                                <img class="for_day" src="{{ lang.day_src }}"
                                                     alt="{{ lang.for_day_png }}"/>
                                            </span>
                                            </div>
                                            <span class="price">
                                            {{ column.price }}{{ theme_options.currency }}
                                </span>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </a>

                        <div class="attrs">
                            <span class="passengers_num">{{ car.acf.passengers_num.value }}</span>
                            <span class="baggage_number">{{ car.acf.baggage_number.value }}</span>
                            <span class="transmission">{{ car.acf.transmission.value }}</span>
                            <span class="doors_number">{{ car.acf.doors_number.value }}</span>
                        </div>
                        <div class="show_on_hover">
                            <button
                                    name="order"
                                    class="order order_show"
                                    data-catalog=1
                                    data-id="{{ car.ID }}"
                                    data-title="{{ car.post_title }}"
                                    data-price="{{ theme_options.currency }}{{ car.calculatedPrice }}"
                                    data-cities="{{ car.orderCities }}"
                                    data-delivery="{{ car.deliveryPrice }}"
                            >{{ lang.order_text }}</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% else %}
    <h1>{{ lang.results_not_found_text }}</h1>
{% endif %}