<!DOCTYPE html>
<html>
<head>
	<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KGNH9X3');</script>
	<!-- End Google Tag Manager -->
	<meta charset="utf-8">
	<meta content="IE=10" http-equiv="X-UA-Compatible">
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
    {% block advanced_meta %}{% endblock %}
	<title>
        {% spaceless %}
            {% block title %}
                {{ meta_title }}
            {% endblock %}
        {% endspaceless %}
	</title>

    {% block base_stylesheets %}
		<link href="{{ theme.path }}/public/css/styles.css?v=3.3" media="all" rel="stylesheet">
		<link href="{{ theme.path }}/public/css/new_style.css?v=3.3" media="all" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    {% endblock %}

    {% block wp_head %}
        {{ head }}
    {% endblock %}
</head>
<body {% block body_attributes %}{% endblock %}>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KGNH9X3"
				  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div id="wrapper">
    {% block header %}
        {% include 'layout-blocks/_header.twig' %}
    {% endblock %}
    {% block breadcrumbs %}
		<div class="breadcrumbs" xmlns:v="http://rdf.data-vocabulary.org/#">
			<ul class="breadcrumbs container" >
				<li rel="v:url" property="v:title" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
					<a href="{{ city_urls.home }}" itemprop="url">
						<span itemprop="title">{{ lang.home_text }}</span>
					</a>
				</li>
				<li class="arrow"></li>
                {% for crumb in breadcrumbs %}
                    {% if not loop.last %}
						<li rel="v:url" property="v:title" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
							<a href="{{ crumb.url }}" itemprop="url"><span itemprop="title">{{ crumb.title }}</span></a>
						</li>
						<li class="arrow"></li>
                    {% endif %}
                    {% if loop.last %}
						<li rel="v:url" property="v:title" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
							<a href="{{ crumb.url }}" itemprop="url" onclick="return false;" class="last">
								<span itemprop="title">{{ crumb.title }}</span>
							</a>
						</li>
                    {% endif %}
                {% endfor %}
			</ul>
		</div>
    {% endblock %}
	<main id="main">
        {% block content %}
        {% endblock %}

        {% block contact_form %}
            {% include 'layout-blocks/_callback-form.twig' %}
        {% endblock %}
	</main>
</div>
<div class="footer_block">
    {% block footer %}
        {% include 'layout-blocks/_footer.twig' %}
        {% include 'layout-blocks/_scroll-up.twig' %}
    {% endblock %}
</div>
{% block base_scripts %}
	<script src="{{ theme.path }}/public/js/require.js"></script>
	<script src="{{ theme.path }}/public/js/config/require.js" type="text/javascript"></script>
	<script src="{{ theme.path }}/public/js/jquery.my_maskedinput.js" type="text/javascript"></script>
	<script src="{{ theme.path }}/public/js/akni_callback.js" type="text/javascript"></script>
	<script src="{{ theme.path }}/public/js/index.js?v=1.4.2" type="text/javascript"></script>

    {%  if ispage == 'catalog' %}
	<script src="{{ theme.path }}/public/js/catalog.js?v=2.0.2" type="text/javascript"></script>
    {% endif %}

	<script src="{{ theme.path }}/public/js/product.js" type="text/javascript"></script>
	<script src="{{ theme.path }}/public/js/scroll-up.js" type="text/javascript"></script>
	<script src="{{ theme.path }}/public/js/jquery.ui.touch-punch.min.js" type="text/javascript"></script>

	<script src="{% block jsEntryPoint %}{% endblock %}"></script>
    {% block scripts %}{% endblock %}
{% endblock %}
{% block wp_footer %}
    {{ footer }}
{% endblock %}
<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
    (function(){ var widget_id = 't9yHjUCaLR';var d=document;var w=window;function l(){var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
</script>
<!-- {/literal} END JIVOSITE CODE -->
<script type="text/javascript">
    (function(d, w, s) {
        var widgetHash = 'o6j6zjpuqvu2lo49tsiw', gcw = d.createElement(s); gcw.type = 'text/javascript'; gcw.async = true;
        gcw.src = '//widgets.binotel.com/getcall/widgets/'+ widgetHash +'.js';
        var sn = d.getElementsByTagName(s)[0]; sn.parentNode.insertBefore(gcw, sn);
    })(document, window, 'script');
</script>
</body>
</html>