{% extends '_layout.twig' %}

{% block advanced_meta %}
    <meta name="description" content="{{ meta_description }}"/>
{% endblock %}

{% block jsEntryPoint %}

{% endblock %}

{% block scripts %}

{% endblock %}

{% block stylesheets %}
    <link href="{{ theme.path }}/public/css/jquery-ui.css" media="all" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="inner_block catalog_page">
        <h1 class="page_title">{{ lang.title_h1 }}</h1>
        <span class="open_filter_btn">{{ lang.filter_text }}</span>

        <section class="filters_block_wrapper">
            <div class="filters_block">
                <span class="close_filter_btn"></span>
                {% include 'modules/catalog/_filters.twig' %}
            </div>
        </section>

        <div class="right_part_block">
            <section class="catalog_banner">
                {% if page.acf.banner.value !='' %}
                    <div class="banner">
                        <img src="{{ page.acf.banner.value }}" />
                    </div>
                {% endif %}
            </section>
            <section class="annotations">
                {% if page.acf.annotations.value is not empty %}
                    {{ page.acf.annotations.value }}
                {% endif %}
            </section>
            <section class="products_list_block" id="products_list_block">
                {% include '_cars.twig' %}
            </section>
            
            <section class="seo_block">
                {% if page.post_content %}
                    {{ page.post_content }}
                {% endif %}
            </section>
        </div>
    </div>
{% endblock %}