{% extends '_layout.twig' %}


{% block advanced_meta %}
    <meta name="description" content="{{ meta_description }}"/>
{% endblock %}
{% block jsEntryPoint %}
{% endblock %}

{% block scripts %}

{% endblock %}

{% block content %}
    <div class="inner_block conditions_page">
        <h1 class="page_title">{{ page.post_title }}</h1>

        <div class="conditions_content">        
            {% if page.post_content %}
                {{ page.post_content }}
            {% endif %}
        </div>

        {% if page.acf.advanced_info.value !='' %}
            <div class="advanced-info">
                {{ page.acf.advanced_info.value }}
            </div>
        {% endif %}
    </div>
{% endblock %}