{% extends '_layout.twig' %}

{% block advanced_meta %}
    <meta name="description" content="{{ meta_description }}"/>
{% endblock %}

{% block jsEntryPoint %}

{% endblock %}

{% block scripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqxBgPdJ-G1tq_n2fogjZy8DoH-InM7Oc"></script>


{% endblock %}

{% block content %}
    <div class="inner_block contact_page">
        <h1 class="page_title">{{ page.post_title }}</h1>
        {% if theme_options.switcher !='disable' %}
            <section id="first-switcher">
                <span>{{ lang.city_d_text }}</span>
                <div class="inner_block">
                    {{ contact_switcher }}
                </div>
            </section>
        {% endif %}
        <div class="info">
            {% if  page.acf.address.value !='' %}
                <span class="address">
                    {{ page.acf.address.value }}

                    {% if  page.acf.link.value !='' %}
                        <a class="go_to_big_map" href="{{ page.acf.link.value }}" target="_blank">{{ lang.view_on_a_big_map_text }} </a>
                    {% endif %}
                </span>
            {% endif %}
            {% if  page.acf.phone.value !='' and page.tel !='' %}
                <span class="phone"><a class="binct-phone-number-1" href="tel:{{ page.tel }}">{{ page.acf.phone.value }}</a></span>
            {% endif %}
            {% if  page.acf.email.value !='' %}
                <span class="email"><a href="mailto:{{ page.acf.email.value }}">{{ page.acf.email.value }}</a></span>
            {% endif %}
            {% if  page.acf.viber.value !='' and page.viber !='' %}
                <span class="viber"><a href="viber://add?number={{ page.viber }}"> {{ page.acf.viber.value }} </a></span>
            {% endif %}
        </div>
        <div class="map" id="map">
            <!-- {{ page.acf.map.value.lat }}
            {{ page.acf.map.value.lng }} -->
            <!-- <span
                    data-lat = "{{ page.acf.map.value.lat }}"
                    data-lng = "{{ page.acf.map.value.lng }}"
                    id="coordinates"
            ></span> -->
        </div>
        <script>

            function initialize() {
                var myLatlng = new google.maps.LatLng({{ page.acf.map.value.lat }}, {{ page.acf.map.value.lng }});
                var myOptions = {
                    zoom: 18,
                    center: myLatlng,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                var map = new google.maps.Map(document.getElementById("map"), myOptions);

                var marker = new google.maps.Marker({
                    position: {lat: {{ page.acf.map.value.lat }} +0.00003, lng: {{ page.acf.map.value.lng }} +0.00025},
                    map: map,
                    icon: {
                        url: "/wp-content/themes/Akni/public/images/map_marker.png",
                        scaledSize: new google.maps.Size(141, 52)
                    }
                });
            }
            window.onload = function(){
                initialize();
            }
        </script>
    </div>

{% endblock %}