{% extends '_layout.twig' %}

{% block advanced_meta %}
    <meta name="description" content="{{ meta_description }}"/>
{% endblock %}

{% block jsEntryPoint %}
{% endblock %}

{% block scripts %}

{% endblock %}

{% block content %}
    <div class="inner_block faq_page">
        <h1 class="page_title">{{ page.post_title }}</h1>
        {% if faq is not empty %}
            <div class="questions_block">
                {% for item in faq %}
                    {% if item.title !='' and item.answer !='' %}
                        <div class="faq-item">
                            <div class="questions">{{ item.title }}</div>
                            {% if item.description !='' %}
                                <div class="description">
                                    <!--{{ item.description }}-->
                                </div>
                            {% endif %}
                            <div class="answer">
                                <div>
                                    {{ item.answer }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}