{% extends '_layout.twig' %}

{% block jsEntryPoint %}
{% endblock %}

{% block scripts %}

{% endblock %}

{% block breadcrumbs %}

{% endblock %}
{% block content %}
	<div class="content_wrapp">
		<div class="banner_picker_block">
			{% include 'modules/home/_main-banner.twig' %}
			{% include 'modules/home/_picker.twig' %}
		</div>
		{% include 'modules/home/_annotations.twig' %}
		{% include 'modules/home/_advantages.twig' %}
		{% include 'modules/home/_best-deals.twig' %}
		{% include 'modules/home/_mini-banner.twig' %}
		{% include 'modules/home/_description.twig' %}
	</div>
{% endblock %}