
{% extends '_layout.twig' %}

{% block jsEntryPoint %}
{% endblock %}

{% block scripts %}

{% endblock %}

{% block content %}
	<div class="inner_block text_page">
	    <h1 class="page_title">{{ page.post_title }}</h1>

	    <div class="text_page_content">
		    {% if page.post_content %}
		        {{ page.post_content }}
		    {% endif %}
		</div>
	</div>
{% endblock %}