{% extends '_layout.twig' %}

{% block jsEntryPoint %}

{% endblock %}

{% block scripts %}

{% endblock %}

{% block content %}
    <div class="content_wrapp">
        <div class="product">
            <div class="inner_block">
                <div class="before_image_block">
                    {% if car.title_h1 != '' %}
                        <h1 class="page_title" id="testid">{{ car.title_h1 }}</h1>
                    {% else %}
                        <h1 class="page_title">{{ car.post_title }}</h1>
                    {% endif %}

                </div>

                <div class="images_block">
                    <div class="labels">
                        {% if car.car_labels %}
                            {% for labels in  car.car_labels %}
                                <span class="special_label label"
                                      style="color: {{ labels.color_text }}; background:radial-gradient(circle at top left, transparent 6px,  {{ labels.color_label }} 0) top left, radial-gradient(circle at top right, transparent 6px,  {{ labels.color_label }} 0) top right, radial-gradient(circle at bottom right, transparent 6px,  {{ labels.color_label }} 0) bottom right, radial-gradient(circle at bottom left, transparent 6px,  {{ labels.color_label }} 0) bottom left;">
                                                {{ labels.name }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="image{% if car.acf.gallery.value is not empty %} with_thumbs{% endif %}">
                        {% if car.main_thumnail_url is not empty  %}
                            <img src="{{car.main_thumnail_url }}" alt="{{ car.post_title }}"/>
                        {% else %}
                            <img src="{{ car.default_thumnail_url }}" alt="{{ car.post_title }}"/>
                        {% endif %}
                    </div>

                    {% if car.acf.gallery.value is not empty %}
                        <div class="galery">
                            <div class="galery_item">
                                <span>
                                    <span>
                                        {% if car.mini_thumb !=''  %}
                                            <img src="{{car.mini_thumb }}" alt="{{ car.main_thumnail_name }}" data-min-url="{{car.mini_thumb }}" data-big-url="{{car.main_thumnail_url }}"/>
                                        {% endif %}
                                    </span>
                                </span>
                            </div>
                            {% for image in car.acf.gallery.value %}
                                <div class="galery_item">
                                    <span>
                                        <span>
                                            <img src="{{ image.sizes.thumbnail }}" title="{{ image.name }}" alt="{{ image.name }}" data-min-url="{{ image.sizes.thumbnail }}" data-big-url="{{ image.url }}" />
                                        </span>
                                    </span>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="after_image_block">
                    <div class="attrs">
                        <span class="passengers_num">{{ car.acf.passengers_num.value }}</span>
                        <span class="baggage_number">{{ car.acf.baggage_number.value }}</span>
                        <span class="transmission">{{ car.acf.transmission.value }}</span>
                        <span class="doors_number">{{ car.acf.doors_number.value }}</span>
                    </div>

                    {#{% if car.specialPrice !='' %}#}
                    {#<div class="price">#}
                    {#<span class="special-price">#}
                    {#{{ theme_options.currency }}<span>{{ car.specialPrice }}</span>/{{ lang.for_day }}#}
                    {#</span>#}
                    {#<span class="regular-price">#}
                    {#{{ theme_options.currency }}<span>{{ car.regularPrice }}</span>/{{ lang.for_day }}#}
                    {#</span>#}
                    {#</div>#}
                    {#{% else %}#}
                    {#<span class="price">#}
                    {#<span class="special-price">#}
                    {#{{ theme_options.currency }}<span>{{ car.regularPrice }}</span>/{{ lang.for_day }}#}
                    {#</span>#}
                    {#</span>#}
                    {#{% endif %}#}
                    {% if car.priceTable is not empty %}
                        <div class="product_price_grid">
                            <div class="price_grid">
                                {% for column in car.priceTable %}
                                    <div class="price_grid_item">
                                        <div class="top_part">
                                            <span class="from">{{ column.date_from }}</span>
                                            -
                                            <span class="to">{{ column.date_to }}</span>
                                            <span class="days">
                                                <img class="for_day" src="{{ lang.day_src }}" alt="{{ lang.for_day_png }}"/>
                                            </span>
                                        </div>
                                        <span class="price">
                                            {{ column.price }}{{ theme_options.currency }}
                        </span>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    <button
                            name="order"
                            class="order order_show"
                            data-id="{{ car.ID }}"
                            data-title="{{ car.post_title }}"
                            data-price="{{ theme_options.currency }}{{ car.calculatedPrice }}"
                            data-cities="{{ car.orderCities }}"
                            data-delivery="{{ car.deliveryPrice }}"
                    >{{ lang.order_text }}</button>

                    <section class="annotations">
                        {% if car.acf.annotations.value is not empty %}
                            {{ car.acf.annotations.value }}
                        {% endif %}
                    </section>
                </div>

                <div class="tabs_block">
                    <div class="tabs_head">
                        {% if advancedAttributes is not empty %}
                            <span class="title">{{ lang.advanced_text }}</span>
                        {% endif %}

                        {% if car.post_content !='' %}
                            <span class="titlle">{{ lang.description_text }}</span>
                        {% endif %}

                        {#  {% if adv_options_auto is not empty %}
                              <span class="title">{{ lang.adv_option_text }}</span>
                          {% endif %}#}
                    </div>

                    <div class="tabs_body">

                        {% if advancedAttributes is not empty %}
                            <div class="advanced-attrs">
                                <div class="table">
                                    {% for attribute in advancedAttributes %}
                                        <div class="row">
                                            <div class="label">{{  attribute.label }}</div>
                                            {%  if attribute.type == 'true_false'  %}
                                                {% if attribute.value == 1 %}
                                                    <div class="value">{{ lang.yes_text }}</div>
                                                {% else %}
                                                    <div class="value">{{ lang.no_text }}</div>
                                                {% endif %}
                                            {% else %}
                                                <div class="value">{{ attribute.value }}</div>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}

                        {% if car.post_content !='' %}
                            <div class="description">
                                {{ car.post_content }}
                            </div>
                        {% endif %}

                        {% if adv_options_auto is not empty %}
                            <div class="advanced-attrs">
                                <div class="table">
                                    {% for options in adv_options_auto %}
                                        <div class="row">
                                            <div class="label">{{  options.name_opt }}</div>
                                            <div class="value"></div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
        <section class="similar-cars product_page">
            {% include 'modules/product/_similar-cars.twig' %}
        </section>
    </div>
{% endblock %}