<div style="display:none;">single</div>
{% extends '_layout.twig' %}

{% block advanced_meta %}
    <meta name="description" content="{{ meta_description }}"/>
{% endblock %}

{% block jsEntryPoint %}

{% endblock %}

{% block content %}

{% endblock %}
