<!-- This will show only once -->
<section id="first-switcher">
	<div class="inner_block">
		<span class="close">Close</span>
	    <span class="title">{{ lang.set_city_text }}</span>
	    <span class="title_mobile">{{ lang.set_city_text_mobile }}</span>
	    {{ contact_switcher }}
	</div>
</section>