{% if theme_options.switcher !='disable' %}
    <div class="city_switcher">
        <span class="title"> {{ lang.city_text }} </span>
        {{ catalog_switcher }}
    </div>
{% else %}
    <div class="close_btn_substrate"></div>
{% endif %}
<div class="filters">
    <span class="title filter_header">
        {{ lang.filters_text }}
        <span class="reset_filters">{{ lang.reset_all_text }}</span>
    </span>

    {% if theme_options.price_filter == 'enable' %}
        <div class="price-filter">
            <span class="title"> {{ lang.car_price_text }} </span>
            <p>
                <input type="text" name="price-1" id="amount" data-min="{{ price_min }}" data-max="{{ price_max }}"
                       readonly style="border:0; color:#f6931f; font-weight:bold;">
            </p>

            <div id="slider-range"></div>

            <div class="input_results">
                <div class="result_from">
                    <span class="name">{{ lang.min_price_text }}</span>
                    <span class="value">
                        <span class="currency"></span>
                        <input class="price-from" name="price-from" type="text" value="" min="{{ price_min }}" max="{{ price_max }}">
                    </span>
                </div>
                <div class="result_to">
                    <span class="name">{{ lang.max_price_text }}</span>
                    <span class="value">
                        <span class="currency"></span>
                        <input class="price-to" name="price-to" type="text" value=""  min="{{ price_min }}" max="{{ price_max }}">
                    </span>
                </div>
            </div>
            <input class="price" type="text" name="price" value="" hidden>
        </div>
    {% endif %}
    <div class="class-filters filter">
        <span class="title"> {{ lang.car_class_text }} </span>
        {% for class in car_classes %}
            <label>
                <input type="checkbox" name="class" value="{{ class.slug }}"/>
                <span><a class="ev_filter" href="{{ link_filter }}/class-{{ class.slug }}">{{ class.name }}</a></span>
            </label>
        {% endfor %}
    </div>
    <div class="others-filters">
        <div id="show-more-filters" class="hide" style="display: none !important;">
            <element class="name">{{ lang.show_filters_text }}</element>
            <element id="count"></element>
        </div>
        {% if filters is not empty %}
            {% for filter in filters %}
                {% if filter.label !='' and filter.values is not empty %}
                    <div class="filter">
                        <span class="title">{{ filter.label }}</span>
                        {% for val in filter.values %}
                            <label>
                                <input type="{% if filter.type == 'radio' %}radio{% else %}checkbox{% endif %}"
                                       name="{{ filter.name }}" value="{{ val }}"/>
                                {% if filter.type == 'true_false' or filter.type == 'radio' %}
                                    {% if val == 1 %}
                                        <span><a class="ev_filter"
                                                 href="{{ link_filter }}/{{ filter.name }}-{{ val }}">{{ lang.yes_text }}</a></span>
                                    {% else %}
                                        <span><a class="ev_filter"
                                                 href="{{ link_filter }}/{{ filter.name }}-{{ val }}">{{ lang.no_text }}</a></span>
                                    {% endif %}
                                {% else %}
                                    <span><a class="ev_filter"
                                             href="{{ link_filter }}/{{ filter.name }}-{{ val }}">{{ val }}</a></span>
                                {% endif %}

                            </label>
                        {% endfor %}

                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}

    </div>


</div>
