<section class="footer">
    <div class="inner_block">
        <div class="logo">
            <a href="{{ city_urls.home }}">
                {% if theme_options.footer_logo %}
                    <img src="{{ theme_options.footer_logo }}" alt="logo"/>
                {% endif %}
            </a>
            <span class="copyright">{{ lang.copyright_text }}</span>
        </div>
        <div class="address_block">
            <span class="title">{{ city_info.name }}</span>
            {% if city_info.address %}
                <div class="address">
                    {{ city_info.address }}
                </div>
            {% endif %}
            <a href="{{ city_urls.contact }}">{{ lang.see_on_map_text }}</a>
        </div>
        <div class="contact">
            {% if city_info.phone.0 !='' %}
                <span class="title">
                    {{ lang.contact_number_text }}
                </span>
                <span class="title mobile">
                    {{ lang.number_text }}
                </span>
                <span class="phone">
                        {% if city_info.phone is not empty %}
							{% if city_info.phone.0.href !='' %}
    <a href="{{ city_info.phone.0.href|replace({' ':'','-':''}) }}">{{ city_info.phone.0.text }}</a>
							{% endif %}
                        {% endif %}        
                    <!--a href="tel:{{ city_info.phones.0|replace({' ':'','-':''}) }}">{{ city_info.phones.0 }}</a//-->
                </span>
            {% endif %}
            {% if forms.callback_footer !='' %}
                <div class="callback form">
                    <span class="callback_show">{{ lang.callback_show_btn_text }}</span>
                    <div class="popup_wrapp popup-callback" style="display:none;">
                        {{ forms.callback_footer }}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="mobile_footer_bottom">
            <!--div class="about">
                <span class="title">
                    {{ lang.about_company_text }}
                </span>
                <div class="menu">
                    {% if menus.about_company_footer %}
                        {{ menus.about_company_footer }}
                    {% endif %}
                    <a href="{{ city_urls.contact }}">{{ lang.contacts_text }}</a>
                </div>
            </div//-->
            <div class="about">
                <span class="title">
                    Время работы 
                </span>
                <div class="menu worktime">
                    График работы офиса - Пн-Сб с 9:00 до 19:00, доставка автомобилей и поддержка по телефону - 24/7. Доставка автомобилей по всему городу с 8:00 до 22:00 бесплатно, в остальное время 10 Долларов. Доставка автомобиля в аэропорт бесплатно в любое время
                </div>
            </div>            
            <div class="links">
                <span class="title">
                    {{ lang.useful_links_text }}
                </span>
                <span class="title mobile">
                    {{ lang.links_text }}
                </span>
                <div class="menu">
                    {% if menus.useful_links_footer %}
                        {{ menus.useful_links_footer }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="development">
    <div class="inner_block">
        {{ lang.development_text }} <a href="http://brander.ua/" rel="noindex, noffolow"><span class="img">Brander</span></a>
    </div>
</section>