<section class="footer">
    <div class="inner_block">
        <div class="logo">
            {% if theme_options.footer_logo %}
                <img src="{{ theme_options.footer_logo }}" alt="logo"/>
            {% endif %}
            <a href="{{ city_urls.home }}">

                <span class="footer_logo_text">{{ lang.footer_logo_text }}</span>
            </a>
            <span class="copyright">{{ lang.copyright_text }}</span>
        </div>
        <div class="address_block">
            <span class="title">{{ city_info.name }}</span>
            {% if city_info.address %}
                <div class="address">
                    {{ city_info.address }}
                </div>
            {% endif %}
            <a href="{{ city_urls.contact }}">{{ lang.see_on_map_text }}</a>
        </div>
        <div class="contact">
            {% if city_info.phone.0 !='' %}
                <span class="title">
                    {{ lang.contact_number_text }}
                </span>
                <span class="title mobile">
                    {{ lang.number_text }}
                </span>
                <span class="phone">
                        {% if city_info.phone is not empty %}
                            {% if city_info.phone.0.href !='' %}
                                <img class="icon-messenger" src="{{ theme_url ~ city_info.phone.0.icon }}"
                                     title="{{ city_info.phone.0.text }}"/> <a
                                    href="{{ city_info.phone.0.href|replace({' ':'','-':''}) }}"
                                    class="binct-phone-number-1">{{ city_info.phone.0.text }}</a>
                            {% endif %}
                        {% endif %}
                    <!--a href="tel:{{ city_info.phones.0|replace({' ':'','-':''}) }}">{{ city_info.phones.0 }}</a//-->
                </span>
            {% endif %}
            {% if forms.callback_footer !='' %}
                <div class="callback form">
                    <span class="callback_show">{{ lang.callback_show_btn_text }}</span>
                    <div class="popup_wrapp popup-callback" style="display:none;">
                        {{ forms.callback_footer }}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="mobile_footer_bottom">
            <!--div class="about">
                <span class="title">
                    {{ lang.about_company_text }}
                </span>
                <div class="menu">
                    {% if menus.about_company_footer %}
                        {{ menus.about_company_footer }}
                    {% endif %}
                    <a href="{{ city_urls.contact }}">{{ lang.contacts_text }}</a>
                </div>
            </div//-->
            <div class="about">
                <span class="title">
                    {{ footer_col_4.job_time_title }}
                </span>
                <div class="menu worktime">
                    {{ footer_col_4.job_time_short_content }}
                    <div class="info form">
                        <span class="info_show">{{ lang.more_footer_info }}</span>
                        <div class="popup_wrapp popup-info" style="display:none;">
                            <div>
                                <span class="callback_hide popup_hide"></span>
                                <div class="more_info_text">
                                    {{ footer_col_4.job_time_content }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="links">
                <span class="title">
                    {{ lang.useful_links_text }}
                </span>
                <span class="title mobile">
                    {{ lang.links_text }}
                </span>
                <div class="menu">
                    {% if menus.useful_links_footer %}
                        {{ menus.useful_links_footer }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="inner_block">
        <div class="social">
            <span class="title">{{ lang.social_title }}:</span>
            <div class="social-link">
                {% if theme_options.social.instagram %}
                    <a class="instagram" href="{{ theme_options.social.instagram }}" target="_blank">Instagram</a>
                {% endif %}
                {% if theme_options.social.facebook %}
                    <a class="facebook" href="{{ theme_options.social.facebook }}" target="_blank">Facebook</a>
                {% endif %}
                {% if theme_options.social.twitter %}
                    <a class="twitter" href="{{ theme_options.social.twitter }}" target="_blank">Twitter</a>
                {% endif %}
                {% if theme_options.social.pinterest %}
                    <a class="pinterest" href="{{ theme_options.social.pinterest }}" target="_blank">Pinterest</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<section class="development">
    <div class="inner_block">
        {{ lang.development_text }} <a href="http://brander.ua/" rel="noindex, nofollow"><span
                    class="img">Brander</span></a>
    </div>
</section>