<!-- This will show only once -->
{% if first_time_switcher %}
    {% include 'modules/_city-switcher.twig' %}
{% endif %}
<input type="text" id="iphone_focus" value="">
<header id="header" class="header">
    <div class="inner_block">
        <div class="top-sidebar">
            <div class="phone">

                {% for item in city_info.phone %}
                    {% if item !='' %}
                        <img
                                class="icon-messenger"
                                src="{{ theme_url ~ item.icon }}"
                                title="{{ item.text }}">
                        <a href="{{ item.href }}" data-value="{{ item.text }}"
                           class="header-link binct-phone-number-1">
                            {{ item.text }}</a>
                    {% endif %}
                {% endfor %}

            </div>
            <div class="massage-block">
                {% if city_info.messengers is not empty %}
                    {% for item in city_info.messengers %}
                        {% if item.href !='' %}
                            <div class="messenger">
                                <a href="{{ item.href }}"><img class="icon-messenger"
                                                               src="{{ theme_url ~ item.icon }}"
                                                               title="{{ item.text }}"/></a>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="inner_block">
        <div class="main-sidebar">
            <div class="menu-btn-item">
                <span class="menu_btn"></span>
                <span class="menu-name">{{ lang.menu_title_item }}</span>
            </div>
            <span style="display:none;"
                  id="ajax_params"
                  data-url="{{ ajax_url }}"
                  data-currency="{{ theme_options.currency }}"
                  data-current_page="{{ currentPageId }}"
                  data-switcher="{{ theme_options.switcher }}"
                  data-callback_text="{{ lang.callback_title }}"
                  data-more_cars_text="{{ lang.more_car_text }}"
                  data-pid="{{ pid }}"
                  data-citi-url="{{ city_urls.catalog }}"
                  data-filter="{{ urifilter }}"
            ></span>
            <div class="logo">
                <a href="{{ city_urls.home }}">
                    {% if theme_options.header_logo %}
                        <img src="{{ theme_options.header_logo }}" alt="logo"/>
                    {% endif %}
                </a>
            </div>
            <div class="left_part">
                <div class="left_part_inner">
                    <span class="close_menu_btn"></span>

                    <div class="mobile-view">

                        <section id="first-switcher">
                            <span class="mobile_title">{{ lang.set_city_text_mobile }}</span>
                            <div class="inner_block">
                                {% if header_switcher !='' %}
                                    {{ header_switcher }}
                                {% endif %}
                            </div>
                        </section>

                    </div>
                    <div class="menu">
                        <a href="{{ city_urls.catalog }}">{{ lang.catalog_text }}</a>
                        {% if menus.primary_header_menu %}
                            {{ menus.primary_header_menu }}
                        {% endif %}
                        <a href="{{ city_urls.contact }}">{{ lang.contacts_text }}</a>
                    </div>
                    <div class="mobile-view">
                        <div class="phone">
                            <span class="form-title">{{ lang.contact_phones_text }}</span>
                            <div class="phone-content">
                                {% for item in city_info.phone %}
                                    {% if item !='' %}
                                        <img
                                                class="icon-messenger"
                                                src="{{ theme_url ~ item.icon }}"
                                                title="{{ item.text }}">
                                        <a href="{{ item.href }}" data-value="{{ item.text }}"
                                           class="header-link binct-phone-number-1">
                                            {{ item.text }}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="massage-block">
                            {% if city_info.messengers is not empty %}
                                {% for item in city_info.messengers %}
                                    {% if item.href !='' %}
                                        <div class="messenger">
                                            <a href="{{ item.href }}"><img class="icon-messenger"
                                                                           src="{{ theme_url ~ item.icon }}"
                                                                           title="{{ item.text }}"/></a>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                        <div class="social">
                            <span class="title">{{ lang.social_title }}</span>
                            <div class="social-link">
                                {% if theme_options.social.instagram %}
                                    <a class="instagram" href="{{ theme_options.social.instagram }}" target="_blank">Instagram</a>
                                {% endif %}
                                {% if theme_options.social.facebook %}
                                    <a class="facebook" href="{{ theme_options.social.facebook }}" target="_blank">Facebook</a>
                                {% endif %}
                                {% if theme_options.social.twitter %}
                                    <a class="twitter" href="{{ theme_options.social.twitter }}" target="_blank">Twitter</a>
                                {% endif %}
                                {% if theme_options.social.pinterest %}
                                    <a class="pinterest" href="{{ theme_options.social.pinterest }}" target="_blank">Pinterest</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right_part_inner">
                    <div class="phone">
                        <span class="form-title">
                           {{ lang.contact_phones_text }}
                        </span>
                        {% for item in city_info.phone %}
                            {% if item !='' %}
                                <div class="phone-contact">
                                    <div class="phone-head"><img
                                                class="icon-messenger"
                                                src="{{ theme_url ~ item.icon }}"
                                                title="{{ item.text }}"><a href="{{ item.href }}"
                                                                           data-value="{{ item.text }}"
                                                                           class="header-link binct-phone-number-1">{{ item.text }}</a>
                                    </div>
                                    <div class="phone_body">
                                        <ul>
                                            <li><span class="callback_show">{{ lang.callback_title }}</span></li>
                                        </ul>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="city-switcher-new">
                        {% if theme_options.switcher !='disable' %}

                            <span class="mobile_title">{{ lang.set_city_text_mobile }}</span>
                            {% if header_switcher !='' %}
                                {{ header_switcher }}
                            {% endif %}

                        {% else %}
                            <div class="close_btn_substrate">
                                <div class="city_switcher_block"></div>
                            </div>
                        {% endif %}
                    </div>

                </div>
                <div class="lang-switcher-new">
                    <span class="mobile_title">{{ lang.lang_switcher_text }}</span>
                    {% if language_switcher !='' %}
                        {{ language_switcher }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
