
.products_list_block {
  .products_item {
    .labels {
      position: absolute;
      display: flex;
      flex-direction: column;
      z-index: 1;
      .special_label {
        background-size: 50% 50% !important;
        background-repeat: no-repeat !important;
        left: 5px;
        padding: 2px 10px;
        font-size: 14px;
        text-transform: uppercase;
        font-family: 'PFBeauSansProSemiBold';
        position: relative;
        margin-bottom: 5px;
        line-height: 30px;
        text-align: center;
        min-width: 74px;
      }
    }
  }
}

.deals_block {
  .deal_item,
  .owl-item {
    .labels {
      position: absolute;
      display: flex;
      flex-direction: column;
      z-index: 1;
      .special_label {
        background-size: 50% 50% !important;
        background-repeat: no-repeat !important;
        left: 5px;
        padding: 2px 10px ;
        font-size: 14px;
        text-transform: uppercase;
        font-family: 'PFBeauSansProSemiBold';
        position: relative;
        margin-bottom: 5px;
        line-height: 30px;
        text-align: center;
        min-width: 74px;
      }
    }
  }
}

.product {
  .images_block {
    .labels {
      position: absolute;
      display: flex;
      flex-direction: column;
      z-index: 1;
      .special_label {
        background-size: 50% 50% !important;
        background-repeat: no-repeat !important;
        left: 5px;
        padding: 2px 10px ;
        font-size: 14px;
        text-transform: uppercase;
        font-family: 'PFBeauSansProSemiBold';
        position: relative;
        margin-bottom: 5px;
        line-height: 30px;
        text-align: center;
        min-width: 74px;

      }
    }
  }
}

.class_label{
  position: absolute;
  right: 30px;
  font-family: 'PFBeauSansPro';
  font-size: 15px;
  color: #484848;
}

