.header {
  @media only screen and (max-width: 640px){
    height: 80px;
  }
  .logo {
    width: 290px;
    height: 100%;
    float: left;
    position: relative;
    @media only screen and (max-width: 960px) {
      position: absolute;
      top: 0;
      width: 100% !important;
      left: 0;
      z-index: 2;
      a {
        display: block;

      }
    }
    @media only screen and (max-width: 600px) {
      a {
        display: block;
        height: 40px;
        max-width: 136px;
        position: relative;
        margin: 20px auto 0;
        right: 44px;
      }
    }
  }
  .main-sidebar {
    @media only screen and (max-width: 960px) {
      display: flex;
      height: 80px;
      width: 100%;
      align-items: center;
    }
    .menu_btn {
      z-index: 4;
    }
  }
  .menu {
    a {
      color: #1f63df;
      border: 1px solid #1f63df;
      padding: 3px;
      border-radius: 3px;
      font-size: 15px;
      padding: 0 5px;
      @media all and (max-width: 960px) {
        border: none;
        color: #fff;
      }
      &.active {
        line-height: 30px;

        margin: 25px 15px 0;
        font-size: 15px;
        display: inline-block;
        color: #1f63df;
        text-decoration: none;
        font-family: 'RobotoMedium';
        box-shadow: 0 0 10px rgb(3, 80, 150);
        border: 2px solid #1f63df;
        border-radius: 3px;

      }
      &:hover,
      &:focus {
        text-decoration: none;
        color: #1f63df;
      }
    }
  }

  .phone {
    height: 100%;
    align-items: center;
    display: flex;
    .cust-header-link {
      font-size: 20px;
      color: #484848;
      font-family: 'RobotoMedium';
      text-decoration: none;
      display: none;
      @media only screen and (max-width: 960px) {
        display: block;
        text-align: left;
      }
    }
    .phone-contact {
      position: relative;
      @media  all and (max-width: 1200px){
        display: none;
      }
      .phone-head {
        padding: 0 35px 5px 10px;
        display: flex;
        align-items: center;
        font-size: 20px;
        position: relative;
        img {
          width: 32px;
          margin-right: 10px;
          height: 30px;
        }
        &:after{
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          border-style: solid;
          transition: transform 0.3s;
          border-color: #484848 transparent;
          border-width: 8px 6px 0 6px;
          top: 10px;
          right: 20px;
        }
      }
      &:hover{
        .phone-head {
          &:after{
            transform: rotate(-180deg);
            -webkit-transform: rotate(-180deg);
            -ms-transform: rotate(-180deg);
          }
        }
      }
      .phone_body {
        position: absolute;
        display: none;
        width: 100%;
        ul {
          list-style: none;
          li {
            background: #fff;
            min-height: 55px;
            a {
              @media only screen and (max-width: 960px) {
                font-size: 20px;
                color: #484848;
                font-family: 'RobotoMedium';
                text-decoration: none;
                display: none;
              }
            }
            .callback_show {
              display: block;
              color: #2d75f8;
              font-size: 14px;
              padding: 10px 15px;
              cursor: pointer;
              &:after {
                content: '';
                display: block;
                position: absolute;
                width: 42px;
                height: 42px;
                border-radius: 50%;
                background: #fff url(../images/phone_icon.png) no-repeat 50% 50%;
                bottom: -21px;
                left: 50%;
                margin-left: -21px;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}

.best-deals {
  margin-bottom: 0;
}

.mini_banners {
  margin-bottom: 0;
}

/*
.picker_form {
  .select_label {
    .input_name {
      pointer-events: none;
    }
  }
}
*/

.info {
  .info_show {
    text-decoration: none;
    color: #1f63df;
    font-size: 14px;
    font-family: 'RobotoMedium';
    margin-top: 5px;
    display: block;
    cursor: pointer;
  }
  .more_info_text {
    margin-top: 100px;
    font-size: 15px;
  }
}

.description {
  h2 {
    margin-bottom: 10px;
  }
  img {
    float: left;
    margin-right: 10px;
  }
}

.seo_block {
  h2 {
    margin-bottom: 10px;
    margin-top: 20px;
  }
  img {
    float: left;
    margin-right: 10px;
  }
}

.annotations {
  display: none;
}

/*.products_list_block{
  .products_item {
    margin: 2px 10px 40px;

    .labels {

    }
    .attrs{
      margin-bottom: 15px;
      display: flex;
      span{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex:1;
      }
    }
  }
}*/

.sort_block {
  height: 90px;
  .fake_select {
    position: absolute;
    @media all and (min-width: 1025px) {
      right: 10px;
    }
    input {
      display: none;
    }
  }
}

/*
.result_to,
.result_from {
  pointer-events: none;
}
*/

.social {
  display: flex;
  margin: 0 auto;
  @media all and (max-width: 1200px) {
    width: 100%;
    display: block;
  }
  @media all and (min-width: 1201px) {
    display: flex;
    margin: 0 auto;
    position: relative;
    top: -57px;
    left: 66px;
    width: 50%;
    float: left;
  }
  .title {
    margin-right: 10px
  }

  .social-link {
    display: flex;
    justify-content: space-between;
    a {
      display: flex;
      background: #fff;
      text-align: center;
      text-decoration: none;
      color: #1043a1;
      cursor: pointer;
      font-size: 14px;
      text-transform: uppercase;
      font-family: 'PFBeauSansProBold';
      position: relative;
      margin-bottom: 0;
      padding: 0 10px;
      padding-left: 46px;
      align-items: center;
      @media all and (max-width: 960px) {
        line-height: 43px;
      }
      &.instagram {
        &:before {
          content: '';
          position: absolute;
          left: 20px;
          width: 20px;
          height: 20px;
          background: url("../images/instagram.png") no-repeat;
          background-size: 100%;
          @media all and(max-width: 960px) {
            top: 10px
          }
        }
      }
      &.facebook {
        &:before {
          content: '';
          position: absolute;
          left: 20px;
          width: 20px;
          height: 20px;
          background: url("../images/facebook.png") no-repeat;
          background-size: 100%;
          @media all and(max-width: 960px) {
            top: 10px
          }
        }
      }
    }
  }
}

.header {
  .city_switcher_block {
    height: auto;
  }
  .lang-switcher {
    position: relative;
  }
  .inner_block {
    padding-bottom: 0;
    .top-sidebar {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      max-width: 930px;
      float: right;
      position: absolute;
      right: 0;
      z-index: 4;
      @media all and (max-width: 960px) {
        top: 30px;
        z-index: 4;
      }
      .fake_select {
        margin-top: 0;
      }
      .massage-block {
        display: flex;
        max-width: 148px;
        width: 100%;
        justify-content: space-between;
        @media all and (max-width: 600px) {
          max-width: 100px;
          padding-right: 45px;
        }
        .messenger {
          display: block;
        }
      }
      .phone {
        display: none;
        @media all and (max-width: 960px) {
          position: absolute;
          display: flex;
          align-items: center;
          top: -16px;
          height: auto;
          right: 13px;
          img {
            width: 20px;
            margin-right: 5px;
          }
          a {
            font-family: 'Roboto';
            font-weight: bold;
          }

        }

      }
    }
  }

  .left_part {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    height: 80px;
    align-items: center;
    @media all and (max-width: 1160px) {
      display: flex;
      width: 50%;
      float: left;
    }
    @media all and (max-width: 960px) {
      display: none;
      position: fixed;
      z-index: 999999;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      opacity: 0;
      transition: opacity 0.3s;
    }
    .left_part_inner {
      flex: 2;
      position: relative;
      z-index: 4;
      transition: 0s;
      .menu {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        margin: 0;
        @media all and (max-width: 960px) {
          display: block;
          padding: 20px 20px;
        }
        a {
          margin: 0;
          @media all and (max-width: 960px) {
            font-size: 18px;
          }
          &.active {
            @media all and (max-width: 960px) {
              color: #1f63df;
              text-decoration: none;
              font-family: 'RobotoMedium';
              padding: 0 10px;
              border: none;
              border-radius: 0px;
              background: #fff;
            }
          }
        }
      }
    }
    .right_part_inner {
      flex: 1;
      z-index: 2;
      display: flex;
      justify-content: flex-end;
      height: 100%;
      align-items: flex-end;
      padding-left: 30px;
      @media all and (max-width: 1160px) {
        position: absolute;
        right: 10%;
        margin-top: 10px;
        height: auto;
      }
      @media all and (max-width: 960px) {
        display: none;
      }
      .mobile_title {
        display: none;
      }
      .fake_select {
        margin-top: 0;
        .fake_select_body {
          position: absolute;
          background: white;
        }
      }
    }
  }
}

.lang-switcher-new {
  height: 100%;
  align-items: flex-end;
  bottom: 0;
  position: relative;
  @media all and (max-width: 1160px) {
    position: absolute;
    right: 25px;
    height: auto;
    align-items: flex-end;
    max-height: 30px;
    bottom: inherit;
    margin-top: 10px;
  }
  @media all and (max-width: 960px) {
    right: inherit;
  }
  .fake_select_body {
    position: absolute;
    background: white;
    @media all and (max-width: 960px) {
      background: none;
    }
  }
  .mobile_title {
    display: none;
  }
}

.lang-switcher-new,
.city-switcher-new {
  display: flex;
}

.massage-block {
  display: flex;
  padding-right: 20px;
  margin-top: 6px;
  @media all and (max-width: 600px) {
    margin-top: 12px;
  }
  .messenger {
    display: block;
    margin: 0 11px;
    @media all and (max-width: 600px) {
      margin: 0 5px;
    }
  }
}

.mobile-view {
  display: none;
  @media all and (max-width: 960px) {
    display: block;
  }
  #first-switcher {
    display: block;
    padding: 20px 20px;
    background: #2c75f8;
    padding-top: 125px;
    #first_time_switcher {
      display: flex;
    }
    .mobile_title {
      width: 100%;
      display: block;
      margin-bottom: 20px;
      color: #ffff;
      font-size: 16px;
    }
    .switcher-item {
      width: 100%;
      &:before {
        display: none !important;
      }
    }
    #catalog_switcher {
      display: flex;
      flex-wrap: wrap;
      label {
        padding: 6px 0;
        width: 31%;
        background: white;
        text-align: center;
        margin: 1%;
        span {
          text-decoration: none;
          color: #1043a1;
          line-height: 25px;
          padding: 0 15px;
          display: block;
          cursor: pointer;
          font-size: 14px;
          text-transform: uppercase;
          font-family: 'PFBeauSansProBold';
        }
      }
    }
  }
  .phone {
    padding: 20px 20px;
    display: block;
    background: #2c75f8;
    width: 100%;
    max-width: 100%;
    .form-title {
      width: 100%;
      display: block;
      color: #ffff;
      font-size: 16px;
      margin: 0;
      margin-bottom: 20px;
      text-align: center;
    }
    .phone-content {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        max-width: 30px;
        margin-right: 15px;
      }
      a {
        color: #fff;
        font-size: 18px;
      }
    }
  }
  .massage-block {
    padding: 20px 20px;
    /* width: 100%; */
    /* max-width: 100%; */
    background: #fff;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 0;
  }
  .social {
    padding: 20px 20px;
    display: block;
    width: auto;
    background: #2c75f8;
    .title {
      width: 100%;
      display: block;
      color: #ffff;
      font-size: 16px;
      margin: 0;
      margin-bottom: 20px;
      text-align: center;
    }
    .social-link {
      display: block;
      width: 100%;
      a {
        display: block;
        min-width: 140px;
        background: #fff;
        margin-bottom: 10px;
        text-align: center;
        padding: 10px;
        text-decoration: none;
        color: #1043a1;
        cursor: pointer;
        font-size: 14px;
        text-transform: uppercase;
        font-family: 'PFBeauSansProBold';
        position: relative;
        @media all and (max-width: 800px) {
          line-height: 1.4em;
        }
        &.facebook {
          &:before {
            content: '';
            position: absolute;
            left: 20px;
            width: 20px;
            height: 20px;
            background: url("../images/facebook.png") no-repeat;
            background-size: 100%;
            @media all and(max-width: 960px) {
              top: 10px
            }
          }
        }
        &.instagram {
          &:before {
            content: '';
            position: absolute;
            left: 20px;
            width: 20px;
            height: 20px;
            background: url("../images/instagram.png") no-repeat;
            background-size: 100%;
            @media all and(max-width: 960px) {
              top: 10px
            }
          }
        }
      }
    }
  }

}

.lang-switcher-new {
  @media all and (max-width: 960px) {
    transition: left 0.3s;
    width: 415px;
    height: auto;
    padding: 20px 20px;

    background: #4b8af9;
    margin: 0;
    bottom: inherit;
    display: block;
    top: 0;
    .mobile_title {
      width: 100%;
      display: block;
      color: #ffff;
      font-size: 16px;
      margin: 0;
      margin-bottom: 20px;
      position: relative;
      z-index: 10;
    }
    .fake_select {
      overflow: visible;
      margin: 0;
      background: none;
      width: 100%;
      .fake_select_head {
        display: none !important;
      }
      .fake_select_body {
        width: 100%;
        ul {

          display: flex;
          padding: 0;
          margin: 0;
          width: 100%;
          float: left;
          box-sizing: border-box;
          border: 1px solid #6c9ffa;
          border-radius: 20px;
          li {
            width: 100%;
            height: 40px;
            float: left;
            margin-top: -1px;
            line-height: 40px;
            text-align: center;
            font-size: 15px;
            color: rgba(255, 255, 255, 0.8);
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            &.current {
              background: #fff;
              border-radius: 20px;
              a {
                color: #2d75f8;
                display: inline-block;
              }
              &:before {
                content: '';
                display: inline-block;
                width: 20px;
                height: 12px;
                background: url(../images/check_first_switcher_icon.png) no-repeat 50% 50%;
                margin-right: 7px;
              }
            }
            a {
              font-family: 'Roboto';
              color: rgba(255, 255, 255, 0.8);
              background: none !important;
            }
          }
        }
      }
    }
  }
  @media all and (max-width: 460px) {
    width: 90%
  }
}

@media only screen and (max-width: 640px) {
  .footer_block .footer .logo {
    bottom: -180px;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.menu-name {
  display: none;
  @media all and(max-width: 960px) {
    display: block;
    padding-left: 25px;
    font-family: 'Roboto';
    color: #2d75f8;
  }
  @media all and(max-width: 640px) {
    padding-left: 17px;
  }
}

#first-switcher {
  #first_time_switcher {
    @media all and (max-width: 960px) {
      display: flex;
      width: 100%;
      .switcher-item {
        width: 100%;
        &:before {
          display: none;
        }
      }
    }
  }
}

.city-switcher-new {
  #catalog_switcher_header {
    position: relative;
    .catalog_switcher_title {
      position: relative;
      display: block;
      padding: 0 30px 0px 15px;
      height: 26px;
      font-size: 14px;
      text-transform: uppercase;
      font-family: 'PFBeauSansProBold';
      text-align: left;
      cursor: pointer;
      color: #1043a1;
      &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        top: 5px;
        right: 12px;
        border-style: solid;
        border-color: #1043a1 transparent;
        border-width: 6px 5px 0px 5px;
        transition: transform 0.3s;
      }
    }
    ul {
      display: none;
      position: absolute;
      background: white;
      li {
        list-style: none;
        a {
          text-decoration: none;
          color: #1043a1;
          line-height: 25px;
          padding: 0 15px;
          display: block;
          cursor: pointer;
          font-size: 14px;
          text-transform: uppercase;
          font-family: 'PFBeauSansProBold';
          white-space: nowrap;
          &:hover {
            background: #e3e3e3;
          }
        }
      }
    }
    &:hover {
      .catalog_switcher_title {
        &:after {
          transform: rotate(-180deg);
          -webkit-transform: rotate(-180deg);
          -ms-transform: rotate(-180deg);
        }
      }
    }
  }
}
.mobile-view{
  #catalog_switcher_header {
    width: 100%;
    .catalog_switcher_title {
      display: none;
    }
    ul{
      display: flex;
      padding: 0;
      margin: 0;
      width: 100%;
      float: left;
      box-sizing: border-box;
      border: 1px solid #6c9ffa;
      border-radius: 20px;
      li{
        list-style: none;
        width: 100%;
        height: 40px;
        float: left;
        margin-top: -1px;
        line-height: 40px;
        text-align: center;
        font-size: 15px;
        color: rgba(255, 255, 255, 0.8);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        a{
          text-decoration: none;
          line-height: 40px;
          padding: 0 15px;
          display: block;
          cursor: pointer;
          font-size: 14px;
          text-transform: uppercase;
          font-family: 'Roboto';
          color: rgba(255, 255, 255, 0.8);
          background: none ;
          &.active{
            background: #fff;
            border-radius: 20px;
            color: #2d75f8;
          }
        }
      }
    }
  }
}
#adv_options{
  display: none;
}