* {margin: 0; padding: 0; outline: none; font-family: 'Roboto'; -webkit-appearance: none;}
html, body {height: 100%; width: 100%;}

body:not(.loaded) {position: relative; overflow: hidden;}
body:not(.loaded):before {content: ''; position: fixed; z-index: 9999999; width: 100%; height: 100%; top: 0; left: 0; background: #fff;}
body:not(.loaded):after {content: '';  position: fixed; z-index: 9999999; width: 70px; height: 70px; top: 50%; left: 50%; margin: -35px 0 0 -35px; background: url(../images/loader.png) no-repeat 50% 50%; background-size: 100%; transition: all 1.5s; animation: loader 1.5s infinite ease-in-out;}

@keyframes loader {
	0% {
		width: 70px;
		height: 70px;
		margin: -35px 0 0 -35px;
	}
	50% {
		width: 100px;
		height: 100px;
		margin: -50px 0 0 -50px;
	}
	100% {
		width: 70px;
		height: 70px;
		margin: -35px 0 0 -35px;
	}
}


/* ---- BASIC ------------------------------------- */

#wrapper {min-height: 100%; /*padding-bottom: 580px;*/ padding-bottom: 292px; box-sizing: border-box;}
.inner_block {max-width: 1200px; padding: 0 20px; margin: 0 auto; position: relative;}
.inner_block:after {content: ''; display: block; clear: both;}
h1.page_title {font-size: 32px; color: #484848; font-family: 'PFBeauSansProSemiBold'; font-weight: 500;}
jdiv {display: none !important;}

/* ================================================ */



/* ---- HEADER ------------------------------------ */

.header {height: 80px; border-bottom: 1px solid #ededed;}
.header .logo {width: 290px; height: 100%; float: left;}
.header .logo a {width: 290px; height: 80px; display: table-cell; vertical-align: middle;}
.header .logo img {max-width: 100%; max-height: 100%;}

.header .menu_btn,
.header .phone_btn {display: none; width: 40px; height: 40px; position: absolute; top: 10px; background-repeat: no-repeat; background-position: 50% 50%;}
.header .menu_btn {left: 10px; background-image: url(../images/mobile_menu_icon.png); background-size: 24px;}
.header .phone_btn {right: 10px; background-image: url(../images/mobile_phone_icon.png); background-size: 22px;}

.header .city_switcher_block,
.header .menu,
.header .phone,
.header .lang-switcher {height: 100%; float: left; text-align: center; box-sizing: border-box;}

.header .menu,
.header .phone,
.header .lang-switcher {border-right: 1px solid #ededed;}

.header .city_switcher_block {width: 130px;}
.header .city_switcher_block .fake_select .fake_select_head {min-width: 50px;}
.header .menu {width: calc(100% - 725px);}
.header .phone {width: 224px;}
.header .lang-switcher {width: 80px; position: absolute; top: 0; right: 20px;}

.header .phone .fake_select {display: block; text-align: left;}
.header .phone .fake_select .fake_select_head {padding: 0 35px 5px 20px;}
.header .phone .fake_select .fake_select_head,
.header .phone .fake_select .fake_select_body ul li a {font-size: 20px;}

.header .lang-switcher .mobile_title {display: none; font-size: 14px; color: #fff; font-family: 'PFBeauSansPro'; text-align: left;}
.header .city_switcher_block .mobile_title {display: none; font-size: 15px; color: #fff; font-family: 'Roboto'; text-align: left;}
.header .city_switcher_block .close_menu_btn {display: none;}

.header .lang-switcher .fake_select {display: block;}

.header .fake_select {margin-top: 25px; color: #1043a1;}
.header .phone .fake_select {color: #484848;}
.header .phone .fake_select .fake_select_head {font-family: 'RobotoMedium';}
.header .phone .fake_select .fake_select_head:after {border-color: #484848 transparent; border-width: 8px 6px 0px 6px; top: 10px; right: 20px;}
.header .phone .fake_select .fake_select_body {padding: 6px 0 25px;}


/*.header .phone .fake_select.open .fake_select_body:after {content: ''; display: block; position: absolute; width: 42px; height: 42px; border-radius: 50%; background: #fff url(../images/phone_icon.png) no-repeat 50% 50%; bottom: -21px; left: 50%; margin-left: -21px; cursor: pointer;}*/
.header .phone .fake_select .callback_show:after {content: ''; display: block; position: absolute; width: 42px; height: 42px; border-radius: 50%; background: #fff url(../images/phone_icon.png) no-repeat 50% 50%; bottom: -21px; left: 50%; margin-left: -21px; cursor: pointer;}



.header .phone .fake_select .fake_select_body ul li a {color: #484848; font-family: 'RobotoMedium'; padding: 6px 20px;}

.header .phone .fake_select .fake_select_body ul li .callback_show {display: block; color: #2d75f8; font-size: 14px; padding: 10px 45px; cursor: pointer;}

.header .phone .form-title {display: none;}


.header .menu a {line-height: 30px; margin: 25px 15px 0; font-size: 15px; display: inline-block; color: #707070; text-decoration: none; font-family: 'RobotoMedium';}
.header .menu a:hover {text-decoration: underline;}


/* tmp */
/*.menu a:nth-child(1n+5) {display: none;}*/
/*-----*/

/* ================================================ */



/* ---- FIRST TIME SWITCHER ----------------------- */

#first-switcher {min-height: 76px; background: #2d75f8; padding: 18px 0; box-sizing: border-box; transition: margin 0.3s;}
#first-switcher.remove {margin-top: -76px;}
#first-switcher .title_mobile,
#first-switcher .title {width: 160px; padding: 4px 0; float: left; margin: 0 5px; font-size: 15px; line-height: 16px; color: #fff;}
#first-switcher .title_mobile {display: none;}
#first-switcher #first_time_switcher {float: left; width: 210px; height: 40px; box-sizing: border-box; border: 1px solid #6c9ffa; border-radius: 20px;}
#first-switcher #first_time_switcher:after {content: ''; display: block; clear: both;}
#first-switcher #first_time_switcher .switcher-item {width: 50%; height: 40px; float: left; margin-top: -1px; line-height: 40px; text-align: center; font-size: 15px; color: rgba(255,255,255,0.8); cursor: pointer;}
#first-switcher #first_time_switcher .switcher-item:first-child {margin-left: -1px;}
#first-switcher #first_time_switcher .switcher-item:last-child {margin-right: -1px;}
#first-switcher #first_time_switcher .switcher-item[selected="selected"] {background: #fff; color: #2d75f8; border-radius: 20px;}
#first-switcher #first_time_switcher .switcher-item[selected="selected"]:before {content: ''; display: inline-block; width: 20px; height: 12px; background: url(../images/check_first_switcher_icon.png) no-repeat 50% 50%; margin-right: 7px;}

#first-switcher .close {font-size: 15px; color: #fff; line-height: 40px; position: relative; float: right; opacity: 0.3; cursor: pointer; transition: opacity 0.3s;}
#first-switcher .close:hover {opacity: 0.7;}
#first-switcher .close:after {content: ''; display: block; float: right; margin: 4px 0 0 10px; width: 32px; height: 32px; background: url(../images/close_icon.png);}

/* ================================================ */


/* ---- BANNER ------------------------------------ */

.banner_picker_block {position: relative; min-height: 270px; margin: 0 0 50px;}
.banners {overflow-x: hidden; width: 100%;}
.banners .banner-item {text-align: center;}
.banners .banner-item img {max-width: 100%;}

/* ================================================ */

/* ---- PICKER ------------------------------------ */

.picker_section {position: absolute; left: 0; bottom: 0; height: 270px; width: 100%; background: rgba(0,0,0,0.5); padding: 50px 0 60px; box-sizing: border-box;}
.picker_section .title {display: inline-block; line-height: 24px; font-size: 24px; color: #fff; width: 240px; font-family: 'PFBeauSansProSemiBold';}
.picker_form {position: relative; margin-top: 25px;}
.picker_form .form-field {float: left; margin-right: 20px;}
.picker_form .form-field:after {content: ''; display: block; clear: both;}
.picker_form .car_counter_block {position: absolute; top: -79px; left: 250px; line-height: 33px; border: 1px solid #f4bb07; border-bottom: none; border-radius: 3px; color: #fff; padding: 0 12px; font-size: 13px;}
.picker_form .car_counter_block:before {content: ''; position: absolute; left: 0; bottom: -8px; width: 13px; height: 9px; box-sizing: border-box; border: 1px solid #f4bb07; border-bottom: none; border-left: none;}
.picker_form .car_counter_block:after {content: ''; position: absolute; left: 17px; bottom: -8px; width: calc(100% - 22px); height: 9px; box-sizing: border-box; border: 1px solid #f4bb07; border-bottom: none; border-right: none; transform: skew(-50deg, 0);}


.picker_form .select_label {width: 285px; height: 80px; position: relative; display: block;}
.picker_form .select_label select {width: 100%; height: 100%;}
.picker_form .select_label .input_name {position: absolute; top: 16px; left: 24px; z-index: 6; font-size: 15px; color: #484848;}

select.forever-alone + .fake_select .fake_select_body,
select.forever-alone + .fake_select .fake_select_head:after {display: none;}

.picker_form .select_label select.forever-alone +  .fake_select.open .fake_select_head {height: 100%;}
.picker_form .select_label select.forever-alone +  .fake_select .fake_select_head {cursor: default;}

.picker_form .select_label .fake_select {display: block; height: 100%; border-radius: 3px;}
.picker_form .select_label .fake_select.open {height: auto; box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);}
.picker_form .select_label .fake_select .fake_select_head {line-height: 60px; height: 100%; padding: 20px 50px 0 24px; box-sizing: border-box; font-size: 20px; color: #717171; font-family: 'Roboto';}

.picker_form .select_label .fake_select .fake_select_head,
.picker_form .select_label .fake_select .fake_select_body ul li a {text-transform: none;}

.picker_form .select_label .fake_select.open .fake_select_head {height: 66px;}
.picker_form .select_label .fake_select .fake_select_head:after {top: 33px; right: 25px; border: none; width: 20px; height: 20px; background: url(../images/dark_arrow.png) no-repeat 50% 50%;}
.picker_form .select_label .fake_select .fake_select_body ul li a {padding: 0 25px; font-size: 20px; color: #717171; font-family: 'Roboto'; line-height: 30px;}

.picker_form .date_label {width: 185px; height: 80px; float: left; position: relative;}
.picker_form .date_label:after {content: ''; display: block; position: absolute; width: 30px; height: 30px; top: 35px; right: 20px; background: url(../images/date_input_icon.png) no-repeat 50% 50%;}
.picker_form .date_label:first-child:before {content: ''; display: block; position: absolute; z-index: 2; width: 30px; height: 30px; top: 35px; right: -15px; background: url(../images/date_arrow_icon.png) no-repeat 50% 50%;}
.picker_form .date_label input {width: 100%; height: 100%; border: none; padding: 20px 25px 0; font-size: 20px; color: #717171; box-sizing: border-box; -webkit-text-fill-color: #717171; opacity: 1;}
.picker_form .date_label input.when {border-radius: 3px 0 0 3px;}
.picker_form .date_label input.return {border-radius: 0 3px 3px 0;}
.picker_form .date_label .input_name {position: absolute; top: 16px; left: 24px; z-index: 6; font-size: 15px; color: #484848;}



.picker_form .pick_up {width: 200px; height: 80px; border: none; border-radius: 3px; background: #f4bb07; color: #fff; font-size: 18px; font-family: 'PFBeauSansProBold'; text-transform: uppercase; cursor: pointer;
	transition: background 0.3s;
}
.picker_form .pick_up:hover {background: #ff5d5d;}


/* ================================================ */




/* ---- ADVANTAGES -------------------------------- */

.advantages {margin-bottom: 80px;}
.advantages .advantage-item {width: 33.33%; float: left; padding: 0 35px; box-sizing: border-box;}
.advantages .advantage-item .image_block {width: 65px; padding: 0 30px 0 0; float: left; text-align: center;}
.advantages .advantage-item .image_block:after {content: ''; display: block; clear: both;}
.advantages .advantage-item .image_block img {max-width: 100%; height: auto;}
.advantages .advantage-item .info_block {width: calc(100% - 100px); float: left;}
.advantages .advantage-item .info_block span {display: block;}
.advantages .advantage-item .info_block .title {font-size: 17px; color: #2b2b2b; font-family: 'RobotoMedium'; line-height: 20px; margin-bottom: 15px;}
.advantages .advantage-item .info_block .description {font-size: 14px; color: rgba(43,43,43,0.8); line-height: 18px;}

/* ================================================ */



/* ---- BEST DEALS -------------------------------- */

.best-deals {margin-bottom: 90px; overflow: hidden;}
.best-deals .title {display: block; font-size: 32px; font-family: 'PFBeauSansProSemiBold'; color: #484848; margin-bottom: 50px;}
.best-deals .deals_block {width: calc(100% + 20px); position: relative; z-index: 3; left: -10px;}
.best-deals .deals_block:after {content: ''; display: block; clear: both;}

.best-deals .deal_link,
.best-deals .deal {width: calc(25% - 20px); float: left; margin: 0 10px; padding: 20px 30px 30px; box-sizing: border-box; position: relative; background: #fff;}
.best-deals .deal_link,
.best-deals .deal {width: calc(100% - 20px);}
.best-deals .deal_link {border: 1px solid #e5e5e5;}
.best-deals .deal_link span {position: absolute; top: 50%; left: 30px; width: calc(100% - 40px); max-width: 210px; height: 90px; margin-top: -45px; line-height: 30px; font-size: 30px; color: #484848; font-family: 'PFBeauSansProSemiBold'; display: flex; align-items: center; padding-right: 60px; box-sizing: border-box;}
.best-deals .deal_link span:after {content: ''; position: absolute; top: 50%; right: 0; width: 50px; height: 30px; margin-top: -15px; background: url(../images/more_cars_arrow_icon.png) no-repeat 50% 50%;}


.best-deals .deal .labels {position: relative;}
.best-deals .deal .labels .label {position: absolute; top: 0; line-height: 30px;}
.best-deals .deal .labels .special_label {left: 5px; color: #fff; padding: 2px 10px 0; background: #ff5d5d; font-size: 14px; text-transform: uppercase; font-family: 'PFBeauSansProSemiBold';}
.best-deals .deal .labels .special_label:before,
.best-deals .deal .labels .special_label:after {content: ''; display: block; position: absolute; top: 0; width: 5px; height: 100%; background: url(../images/special_label_bg.png); border-right: 1px solid #ff5d5d;}
.best-deals .deal .labels .special_label:before {left: -5px;}
.best-deals .deal .labels .special_label:after {right: -5px; -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg);}

.best-deals .deal .labels .class_label {right: -10px; font-family: 'PFBeauSansPro'; font-size: 15px; color: #484848;}
.best-deals .deal .image-holder {padding-top: 35px}
.best-deals .deal .image-holder .image {width: 500px; display: table-cell; text-align: center; vertical-align: middle;}
.best-deals .deal .image-holder .image img {max-width: 100%; max-height: 100%;}


.best-deals .deal .title {font-size: 18px; color: #484848; line-height: 20px; margin: 10px 0;}
.best-deals .deal .price {margin-bottom: 10px;}
.best-deals .deal .price .special-price {display: inline-block; font-size: 26px; color: #484848; font-family: 'RobotoMedium'; margin-right: 5px;}
.best-deals .deal .price .regular-price {display: inline-block; text-decoration: line-through; font-size: 16px; color: rgba(72,72,72,0.6);}

.best-deals .deal .attrs {margin-bottom: 25px;}
.best-deals .deal .attrs:after {content: ''; display: block; clear: both;}
.best-deals .deal .attrs span {float: left; font-size: 13px; line-height: 23px; margin-right: 7px; color: #717171; font-family: 'PFBeauSansPro';}
.best-deals .deal .attrs span:before {content: ''; display: block; float: left; width: 20px; height: 20px; background-position: 50% 50%; background-repeat: no-repeat; background-size: 14px;}
.best-deals .deal .attrs .passengers_num:before {background-image: url(../images/passengers_icon.png);}
.best-deals .deal .attrs .baggage_number:before {background-image: url(../images/baggage_icon.png);}
.best-deals .deal .attrs .transmission:before {background-image: url(../images/transmission_icon.png);}
.best-deals .deal .attrs .doors_number:before {background-image: url(../images/doors_icon.png);}

.best-deals .deal .show_on_hover {position: absolute; left: 0; bottom: -42px; width: 100%; height: 46px; background: #fff; display: none; box-shadow: 0 3px 5px 0 rgba(0,0,0,0.5);}
.best-deals .deal .order {max-width: 182px; width: calc(100% - 60px); height: 46px; line-height: 46px; position: relative; top: -30px; left: 30px; background: #f4bb07; text-align: center; color: #fff; border: none; border-radius: 3px; font-size: 14px; text-transform: uppercase; font-family: 'PFBeauSansProSemiBold'; cursor: pointer;
	transition: background 0.3s;
}
.best-deals .deal .order:hover {background: #ff5d5d;}



.best-deals .deal:hover {box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);}
.best-deals .deal:hover .show_on_hover {display: block;}

.product_price_grid {}
.product_price_grid .price_grid {display: flex; flex-direction: row; flex-wrap: wrap;}

.price_grid {margin-bottom: 5px;}

.price_grid:after {content: ''; display: block; clear: both;}
.price_grid .price_grid_item {border: 1px solid #f4bb07; float: left; width: 31.33%; box-sizing: border-box; padding: 3px; background: #fff; margin: 0 1% 2%;}

.product .price_grid {padding-right: 30px;}
.product .price_grid .price_grid_item {width: 23%;}

.price_grid .price_grid_item .top_part {background: #f4bb07; text-align: center; color: #fff; font-size: 12px; font-weight: bold; padding: 10px 0px;}
.price_grid .price_grid_item .top_part .days {display: block; text-transform: uppercase; margin-top: 5px;}
.price_grid .price_grid_item .price {display: block; text-align: center; padding: 10px 0; margin-bottom: 0 !important; height: auto !important; color: #333; font-weight: bold; font-size: 18px;}


/* ================================================ */


/* ---- PRODUCTS LIST ----------------------------- */

.products_list_block {margin-bottom: 90px;}
.products_list_block .title {display: block; font-size: 32px; font-family: 'PFBeauSansProSemiBold'; color: #484848; margin-bottom: 50px;}
.products_list_block .products_list {width: calc(100% + 20px); position: relative; z-index: 3; left: -10px;}
.products_list_block .products_list:after {content: ''; display: block; clear: both;}

.products_list_block .products_item {width: calc(25% - 20px); float: left; margin: 0 10px 50px; padding: 20px 30px 30px; box-sizing: border-box; position: relative; background: #fff;}
.products_list_block .products_item a {text-decoration: none;}
.products_list_block .products_item .labels {position: relative;}
.products_list_block .products_item .labels .label {position: absolute; top: 0; line-height: 30px;}
.products_list_block .products_item .labels .special_label {left: 5px; color: #fff; padding: 2px 10px 0; background: #ff5d5d; font-size: 14px; text-transform: uppercase; font-family: 'PFBeauSansProSemiBold';}
.products_list_block .products_item .labels .special_label:before,
.products_list_block .products_item .labels .special_label:after {content: ''; display: block; position: absolute; top: 0; width: 5px; height: 100%; background: url(../images/special_label_bg.png);}
.products_list_block .products_item .labels .special_label:before {left: -5px;}
.products_list_block .products_item .labels .special_label:after {right: -5px; -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg);}

.products_list_block .products_item .labels .class_label {right: -10px; font-family: 'PFBeauSansPro'; font-size: 15px; color: #484848;}
.products_list_block .products_item .image-holder {padding-top: 35px}
.products_list_block .products_item .image-holder .image {width: 500px; display: table-cell; text-align: center; vertical-align: middle;}
.products_list_block .products_item .image-holder .image img {max-width: 100%; max-height: 100%;}


.products_list_block .products_item .title {font-size: 18px; color: #484848; line-height: 20px; margin: 10px 0; height: 40px;}
.products_list_block .products_item .price {margin-bottom: 10px;}
.products_list_block .products_item .price .special-price {display: inline-block; font-size: 26px; color: #484848; font-family: 'RobotoMedium'; margin-right: 5px;}
.products_list_block .products_item .price .regular-price {display: inline-block; text-decoration: line-through; font-size: 16px; color: rgba(72,72,72,0.6);}

.products_list_block .products_item .attrs {margin-bottom: 25px;}
.products_list_block .products_item .attrs:after {content: ''; display: block; clear: both;}
.products_list_block .products_item .attrs span {float: left; font-size: 13px; line-height: 23px; margin-right: 7px; color: #717171; font-family: 'PFBeauSansPro';}
.products_list_block .products_item .attrs span:before {content: ''; display: block; float: left; width: 20px; height: 20px; background-position: 50% 50%; background-repeat: no-repeat; background-size: 14px;}
.products_list_block .products_item .attrs .passengers_num:before {background-image: url(../images/passengers_icon.png);}
.products_list_block .products_item .attrs .baggage_number:before {background-image: url(../images/baggage_icon.png);}
.products_list_block .products_item .attrs .transmission:before {background-image: url(../images/transmission_icon.png);}
.products_list_block .products_item .attrs .doors_number:before {background-image: url(../images/doors_icon.png);}

.products_list_block .products_item .show_on_hover {position: absolute; z-index: 2; left: 0; bottom: -42px; width: 100%; height: 46px; background: #fff; display: none; box-shadow: 0 3px 5px 0 rgba(0,0,0,0.5);}
.products_list_block .products_item .order {width: 182px; height: 46px; line-height: 46px; position: relative; top: -30px; left: 30px; background: #f4bb07; text-align: center; color: #fff; border: none; border-radius: 3px; font-size: 14px; text-transform: uppercase; font-family: 'PFBeauSansProSemiBold'; cursor: pointer;
	transition: background 0.3s;
}
.products_list_block .products_item .order:hover {background: #ff5d5d;}


.products_list_block .products_item:hover {box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);}
.products_list_block .products_item:hover .show_on_hover {display: block;}


/* ================================================ */


/* ---- MINI BANNERS ------------------------------ */

.mini_banners {margin-bottom: 50px; overflow: hidden;}
.mini_banners .banners_block {width: calc(100% + 20px); position: relative; left: -10px;}
.mini_banners .banners_block:after {content: ''; display: block; clear: both;}
.mini_banners .banner-item {width: 50%; padding: 0 10px; float: left; box-sizing: border-box; text-align: center;}
.mini_banners .banner-item img {max-width: 100%; height: auto;}

.mini_banners_mobile {display: none;}

/* ================================================ */


/* ---- BREADCRUBMS ------------------------------- */

div.breadcrumbs {margin: 50px 0 5px;}
div.breadcrumbs ul {list-style: none; max-width: 1200px; padding: 0 20px; margin: 0 auto;}
div.breadcrumbs ul:after {content: ''; display: block; clear: both;}
div.breadcrumbs ul li {float: left; line-height: 16px; height: 16px; margin-right: 5px;}
div.breadcrumbs ul li.arrow {position: relative; width: 12px; height: 16px;}
div.breadcrumbs ul li.arrow:after {content: ''; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(../images/breadcrumsb_arrow.png) no-repeat 50% 50%;}
div.breadcrumbs ul li a {display: block; font-size: 13px; color: #2d75f8; text-decoration: none; font-family: 'PFBeauSansPro';}
div.breadcrumbs ul li a.last {color: #484848; cursor: default;}
div.breadcrumbs ul li a:not(.last):hover {text-decoration: underline; cursor: pointer;}

/* ================================================ */


/* ---- FAQ page ---------------------------------- */

.questions_block {margin: 25px 0 150px;}
.questions_block .faq-item {/*height: 69px; */margin-bottom: 23px;}
.questions_block .faq-item .questions {line-height: 26px; padding: 21px 60px; border-bottom: 1px solid #e6e6e6; font-size: 18px; color: #242424; font-family: 'RobotoMedium'; position: relative; cursor: pointer;}
.questions_block .faq-item .questions:before {content: ''; display: block; position: absolute; top: 0; left: 0; width: 60px; height: 100%; background-image: url(../images/faq_plus_icon.png); background-position: 50% 50%; background-repeat: no-repeat;}
.questions_block .faq-item:not(.open) .questions:hover {background: #f8f8f8; border-color: #f8f8f8;}
.questions_block .faq-item.open .questions {background: #e9e9e9; border-color: #d3d3d3;}
.questions_block .faq-item.open .questions:before {background-image: url(../images/faq_arrow_icon.png);}

.questions_block .faq-item .answer {height: 0; background: #f8f8f8; font-size: 14px; color: rgba(36,36,36,0.85); line-height: 22px; overflow: hidden; transition: height 0.3s;}
.questions_block .faq-item .answer>div {padding: 30px 75px;}
.questions_block .faq-item .answer p {margin-bottom: 14px;}

/* ================================================ */


/* ---- SELECT ------------------------------------ */

.fake_select {/*border: 1px solid transparent;*/ /*border-radius: 2px;*/ background: #fff; display: inline-block; height: 30px; box-sizing: border-box; line-height: 28px; overflow: hidden; position: relative; z-index: 5;}
.fake_select.open {height: auto; overflow: visible; /*border-color: #e2e2e2;*/}
.fake_select .fake_select_head {position: relative; display: block; padding: 0 30px 4px 15px; height: 26px; font-size: 14px; text-transform: uppercase; font-family: 'PFBeauSansProBold'; text-align: left; cursor: pointer;}
.fake_select .fake_select_head:after {content: ''; position: absolute; width: 0; height: 0; top: 9px; right: 12px; border-style: solid; border-color: #1043a1 transparent; border-width: 6px 5px 0px 5px; transition: transform 0.3s;}
.fake_select.open .fake_select_head:after {transform: rotate(-180deg); -webkit-transform: rotate(-180deg); -ms-transform: rotate(-180deg);}

.header .phone .fake_select .fake_select_body {padding: 0 0 10px; position: absolute; width: 100%; background: #fff; box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);}
.fake_select .fake_select_body ul {list-style: none; padding: 0; margin: 0; text-align: left;}
.fake_select .fake_select_body ul li.current {display: none;}
.fake_select .fake_select_body ul li a {text-decoration: none; color: #1043a1; line-height: 25px; padding: 0 15px; display: block; cursor: pointer; font-size: 14px; text-transform: uppercase; font-family: 'PFBeauSansProBold';}
.fake_select .fake_select_body ul li a:hover {background: #e3e3e3;}

/* ================================================ */


/* ------- CALENDAR ------------------------------- */
#ui-datepicker-div {display:none;}
.ui-datepicker {width: 185px !important; z-index: 999999 !important; background-color: white !important; border: 1px solid #acaaaa !important; padding: 0 12px 12px !important; box-sizing: border-box; border-radius: 3px !important; box-shadow: 3px 3px 4px silver;}
.ui-datepicker .ui-datepicker-header {background-color: #f4bb07; height: 44px; width: calc(100% + 24px); margin-left: -12px; position: relative; padding: 0 !important;}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title {padding: 0 26px; line-height: 44px; text-align: center; color: #717171; text-transform: uppercase;
 font-family: 'PFBeauSansProSemiBold'; margin: 0;}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-header .ui-datepicker-next {position: absolute; top: 0; height: 100%; width: 26px; font-size: 0; background: url(../images/close_popup_arrow.png) no-repeat 50% 50%; cursor: pointer;}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev {left: 0;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next {right: 0;}

.ui-datepicker .ui-datepicker-calendar {border-collapse: collapse; width: 100%;}

.ui-datepicker .ui-datepicker-calendar th {padding: 3px 0; text-align: center; font-family: Tahoma, Geneva, sans-serif; font-size: 10px; text-transform: lowercase; color: #878484;}
.ui-datepicker .ui-datepicker-calendar td {border: 1px solid #e2e2e2; border-top: none; border-collapse: collapse; padding: 2px 0; text-align: center; font-family: Tahoma, Geneva, sans-serif; width: 14%; font-size: 11px; cursor: pointer; position: relative;}
.ui-datepicker .ui-datepicker-calendar .ui-widget-content .ui-state-default {background: none !important;}
.ui-datepicker .ui-datepicker-calendar td:first-child {border-left: none;}
.ui-datepicker .ui-datepicker-calendar td:last-child {border-right: none;}
.ui-datepicker .ui-datepicker-calendar tr:last-child td {border-bottom: none;}
.ui-datepicker .ui-datepicker-calendar tr td a {color: #333; text-decoration: none; border: none; background: none; text-align: center;}
.ui-datepicker .ui-datepicker-calendar tr td span {display: block; padding: 0; text-align: center; border: none; background: none; font-weight: normal; color: #333;}

.ui-datepicker .ui-datepicker-calendar tr td.ui-datepicker-today {position: relative;}
.ui-datepicker .ui-datepicker-calendar tr td.ui-datepicker-today:after {content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 1px solid #f4bb07; box-sizing: border-box;}
.ui-datepicker .ui-datepicker-calendar tr td.ui-datepicker-current-day {background: #878484;}
/*.ui-datepicker .ui-datepicker-calendar tr td.ui-datepicker-today a,*/
.ui-datepicker .ui-datepicker-calendar tr td.ui-datepicker-current-day a {color: #fff;}

.ui-datepicker .ui-datepicker-calendar tr td.ui-datepicker-unselectable:not(.ui-datepicker-other-month) {opacity: 0.4;}
.ui-datepicker .ui-datepicker-calendar tr td.ui-datepicker-unselectable:not(.ui-datepicker-other-month):after {content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: -webkit-linear-gradient(90deg, transparent 7px, #878484 7px, #878484 8px, transparent 8px); background: -ms-linear-gradient(90deg, transparent 7px, #878484 7px, #878484 8px, transparent 8px);}


#time_block {width: 120px; margin: 10px auto 0;}
.form_field.date_field.time #time_block {position: absolute; background: #fff; z-index: 5; top: -30px; left: 20px; padding: 5px 0; box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); border-radius: 4px;}
#time_block:after {content: ''; display: block; clear: both;}
#time_block .hours,
#time_block .minutes {width: 50%; float: left; text-align: center; padding: 0 5px; box-sizing: border-box;}

#time_block span {display: block; height: 20px; border: 1px solid #e2e2e2; position: relative; cursor: pointer;}

#time_block span:after {content: ''; width: 0; height: 0; border-top: 8px solid #878484; border-left: 14px solid transparent; border-right: 14px solid transparent; position: absolute; top: 6px; left: 10px;}
#time_block span[data-nav="plus"]:after {transform: rotate(180deg);}

#time_block input {display: block; background: #fff; max-width: 100%; min-width: 0; height: 30px; border: 1px solid #e2e2e2; text-align: center; font-size: 18px; font-weight: bold; color: #333; opacity: 1; -webkit-text-fill-color: #333333;}
#time_block input.mobile_focus {opacity: 0; width: 0; height: 0; overflow: hidden; font-size: 0;}





/* ================================================ */


#main>.content_wrapp,
#main>.inner_block:not(.page_404) {position: relative; padding-bottom: 316px; min-height: calc(100% - 745px);}


/* ---- CALLBACK FORM ----------------------------- */

.callback_form_block {background: #2064df; height: 288px; margin: -288px auto 0;}
.callback_form_block .inner_block {background: url(../images/application_bg.png) no-repeat 0 -158px; padding: 80px 20px; box-sizing: border-box; height: 100%; max-width: 1220px;}
.callback_form_block .form-title {color: #fff; font-size: 24px; font-family: 'PFBeauSansProBold'; clear: both; display: block; margin-bottom: 30px;}
.callback_form_block .form_field {width: 245px; margin-right: 20px; float: left; display: block;}
.callback_form_block .form_field input {display: block; width: 100%; padding: 0 5px; height: 40px; background: none; border: none; border-bottom: 1px solid #fff; color: #fff; font-size: 17px; font-family: 'PFBeauSansPro';}

.callback_form_block .form_field input.field-error {border-color: red;}

.callback_form_block .form_field span[class*="error"] {font-size: 12px; font-family: 'PFBeauSansPro'; color: #fff; display: block; margin: 5px 0 0;}

.callback_form_block .form_field input::-webkit-input-placeholder {color: #fff; opacity: 1;}
.callback_form_block .form_field input::-moz-placeholder          {color: #fff; opacity: 1;}
.callback_form_block .form_field input:-moz-placeholder           {color: #fff; opacity: 1;}
.callback_form_block .form_field input:-ms-input-placeholder      {color: #fff; opacity: 1;}

.callback_form_block .btn.yellow input {width: 68px; height: 68px; border-radius: 50%; background: #ffce34 url(../images/white_arrow.png) no-repeat 50% 50%; border: none; position: relative; top: -25px; text-indent: -9999px; cursor: pointer;
	transition: background 0.3s;
}
.callback_form_block .btn.yellow .form_loader {display: none; width: 68px; height: 68px; border-radius: 50%; background: #fff url(../images/loading.gif) no-repeat 50% 50%; border: none; position: relative; top: -25px; text-indent: -9999px; cursor: pointer; box-shadow: 0 0 11px 0 #fff;}

.callback_form_block .btn.yellow input:hover {background-color: #ff5d5d;}

.callback_form_block .thank-you {color: #fff; font-size: 24px; font-family: 'PFBeauSansProBold'; margin-top: 50px;}

.callback_form_block.no_page {background: none;}
.callback_form_block.no_page:before,
.callback_form_block.no_page:after {display: none;}

/* ================================================ */


/* ---- FOOTER ------------------------------------ */

/*.footer_block {height: 580px; margin: -580px auto 0;}*/
.footer_block {height: 292px; margin: -292px auto 0;}

.footer_block .footer {min-height: 252px; padding: 50px 0; box-sizing: border-box;}
.footer_block .footer .logo,
.footer_block .footer .address_block,
.footer_block .footer .contact,
.footer_block .footer .about,
.footer_block .footer .links {width: 20%; float: left;}

.footer_block .footer .address_block,
.footer_block .footer .contact,
.footer_block .footer .about,
.footer_block .footer .links {padding-left: 45px; box-sizing: border-box;}

.footer_block .footer .logo img {max-width: 100%;}
.footer_block .footer .logo .copyright {display: block; text-align: center; font-size: 13px; font-family: 'PFBeauSansPro'; color: rgba(31,99,223,0.6); margin: 15px 0 0;}
.footer_block .footer .address_block .address {font-size: 15px; color: #363636;}
.footer_block .footer .contact .callback.form>span,
.footer_block .footer .address_block a {text-decoration: none; color: #1f63df; font-size: 14px; font-family: 'RobotoMedium'; margin-top: 5px; display: block; cursor: pointer;}
.footer_block .footer .contact .phone {font-size: 16px; color: #363636;}
.footer_block .footer .contact .phone a {color: #363636; text-decoration: none;}
.footer_block .footer .about {}
.footer_block .footer .links {}

.footer_block .footer span.title {position: relative; display: block; padding: 5px 0 10px; color: #363636; font-size: 19px; font-family: 'PFBeauSansProSemiBold';}
.footer_block .footer .title.mobile {display: none;}

.footer_block .footer .address_block span.title:before,
.footer_block .footer .contact span.title:before {content: ''; display: block; position: absolute; width: 30px; height: 26px; top: 0; left: -40px; background-repeat: no-repeat; background-position: 50% 50%;}
.footer_block .footer .address_block span.title:before {background-image: url(../images/address_footer_icon.png);}
.footer_block .footer .contact span.title:before {background-image: url(../images/phone_footer_icon.png);}

.footer_block .footer .menu a {display: block; line-height: 16px; padding: 7px 0; text-decoration: none; color: #1f63df; font-size: 15px; font-family: 'RobotoMedium';}
.footer_block .footer .menu a:hover {text-decoration: underline;}

.footer_block .development {height: 40px; line-height: 40px; background: #e5e5e5; text-align: center; color: rgba(42,42,42,0.4); font-size: 12px; font-family: 'PFBeauSansPro';}
.footer_block .development .inner_block {height: 40px;}
.footer_block .development a {display: inline-block;}
.footer_block .development .img {text-indent: -9999px; background: url(../images/brander_logo.png); width: 80px; height: 10px; display: inline-block; position: relative; top: 14px; left: 4px;}

/* ================================================ */



/* ---- POPUP ------------------------------------- */

.popup_wrapp {position: fixed; z-index: 999999; top: 0; left: 0; width: 100%; height: 100%; background: rgba(32,34,36,0.85); opacity: 0; transition: opacity 0.3s;}
.popup_wrapp.open {opacity: 1;}

.popup_wrapp>div {position: absolute; top: 0; right: -460px; width: 460px; min-height: 100%; background: #fff; padding: 0 85px 40px 40px; box-sizing: border-box; transition: right 0.5s;}
.popup_wrapp.open>div {right: 0;}

.popup_wrapp .popup_hide {position: absolute; top: 35px; left: 40px; width: 26px; height: 26px; border: 1px solid #9b9b9b; border-radius: 50%; background: url(../images/close_popup_arrow.png) no-repeat 50% 50%; cursor: pointer;}
.popup_wrapp .form-title {display: block; margin: 90px 0 30px; font-size: 30px; color: #484848; font-weight: bold;}

.popup_wrapp .form_field {margin-bottom: 37px;}

.popup_wrapp .form_field.date_field {width: 50%; float: left; position: relative;}
/*.popup_wrapp .form_field.date_field:after {content: ''; display: block; position: absolute; width: 30px; height: 30px; top: 2px; right: -5px; background: url(../images/date_input_icon.png) no-repeat 50% 50%;}*/
.popup_wrapp .form_field.date_field.time:after {content: ''; display: block; position: absolute; z-index: 2; width: 30px; height: 30px; top: 21px; right: -5px; background: url(../images/date_input_icon.png) no-repeat 50% 50%;}
.popup_wrapp .form_field.date_field:not(.time):after {display: none;}
/*.popup_wrapp .form_field.date_field.first {margin-right: 20px;}*/

.popup_wrapp .form_field input {display: block; width: 100%; height: 40px; border: none; border-bottom: 1px solid #484848; color: #484848; font-size: 18px; font-family: 'PFBeauSansProSemiBold'; padding: 0 5px; position: relative; z-index: 2; background: none;}


.popup_wrapp .form_field.time input {text-align: center; background: #fff; opacity: 1;}
/*.popup_wrapp .form_field label {display: none;}*/

.popup_wrapp .form_field .total {color: #484848;}
.popup_wrapp .form_field .total span {font-size: 26px; font-family: 'RobotoMedium';}
.popup_wrapp .form_field .total label {font-size: 18px; font-family: 'PFBeauSansPro';}
.popup_wrapp .form_field .total_days {font-size: 16px; color: rgba(72,72,72,0.6); margin-top: 5px;}

.popup_wrapp .form_field.checkbox_field {cursor: pointer; clear: both;}
.popup_wrapp .form_field.checkbox_field input {width: 20px; height: 20px; float: left; margin-right: 10px; display: none;}

.popup_wrapp .form_field.checkbox_field span:not(#home_delivery) {display: block; float: left; height: 17px; line-height: 17px; font-size: 15px; color: #717171; padding-left: 28px; position: relative;}
.popup_wrapp .form_field.checkbox_field span:not(#home_delivery):before {content: ''; width: 16px; height: 17px; position: absolute; top: 0; left: 0; background: url(../images/filter_checkbox.png) no-repeat 0 0;}
.popup_wrapp .form_field.checkbox_field input:checked + span:not(#home_delivery):before {background-position: 0 -25px;}

.popup_wrapp .form_field input::-webkit-input-placeholder {color: rgba(72,72,72,0.7); opacity: 1;}
.popup_wrapp .form_field input::-moz-placeholder          {color: rgba(72,72,72,0.7); opacity: 1;}
.popup_wrapp .form_field input:-moz-placeholder           {color: rgba(72,72,72,0.7); opacity: 1;}
.popup_wrapp .form_field input:-ms-input-placeholder      {color: rgba(72,72,72,0.7); opacity: 1;}

.popup_wrapp .form_field span[class*="error"] {color: #ff5757; font-size: 13px; font-family: 'PFBeauSansPro'; display: block; margin: 10px 5px 0; text-align: left;}

.popup_wrapp .btn input {height: 54px; width: 186px; background: #2d75f8; color: #fff; font-size: 16px; font-family: 'PFBeauSansProSemiBold'; text-transform: uppercase; border: none; border-radius: 3px; cursor: pointer; float: left;
	transition: 0.3s;
}
.popup_wrapp .btn input:hover {background: #005aff;}

.popup_wrapp .btn .form_loader {display: none; width: 54px; height: 54px; float: left; background: url(../images/loading.gif) no-repeat 50% 50%;}


.popup_wrapp .fake_select {height: 41px; display: block; border-bottom: 1px solid #484848;}
.popup_wrapp .fake_select.open {height: auto;}
.popup_wrapp .fake_select .fake_select_head {display: block; width: 100%; height: 40px; border: none; borderg-bottom: 1px solid #484848; color: #484848; font-size: 18px; font-family: 'RobotoMedium'; padding: 0 5px; box-sizing: border-box; text-transform: none; display: block;}
.popup_wrapp .fake_select .fake_select_head:after {border-color: #484848 transparent;}
.popup_wrapp .fake_select .fake_select_body ul li a {font-family: 'RobotoMedium'; color: #484848; line-height: 25px; padding: 5px; font-size: 18px; text-transform: none;}


.popup_wrapp .thank-you {margin-top: 130px; font-size: 30px; text-align: left; font-family: 'PFBeauSansProSemiBold';}

/* ================================================ */

/* ---- CAROUSEL ---------------------------------- */
.owl-carousel,
.owl-carousel .owl-item {-webkit-tap-highlight-color: transparent; position: relative;}
.owl-carousel {display: none; width: 100%; z-index: 1;}
.owl-carousel .owl-stage {position: relative; margin: 10px 0; padding-bottom: 37px; -ms-touch-action: pan-Y;}
.owl-carousel .owl-stage:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
.owl-carousel .owl-stage-outer {position: relative; overflow: hidden; -webkit-transform: translate3d(0,0,0);}
.owl-carousel .owl-item {min-height: 1px; float: left; -webkit-backface-visibility: hidden; -webkit-touch-callout: none;}
.owl-carousel .owl-item img {-webkit-transform-style: preserve-3d;}
.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {display: none;}
.no-js .owl-carousel,
.owl-carousel.owl-loaded {display: block;}
.owl-carousel .owl-dot,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {cursor: pointer; cursor: hand; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
.owl-carousel.owl-loading {opacity: 0; display: block;}
.owl-carousel.owl-hidden {opacity: 0;}
.owl-carousel.owl-refresh .owl-item {visibility: hidden;}
.owl-carousel.owl-drag .owl-item {-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
.owl-carousel.owl-grab {cursor: move; cursor: grab;}
.owl-carousel.owl-rtl {direction: rtl;}
.owl-carousel.owl-rtl .owl-item {float: right;}
.owl-carousel .animated {-webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both;}
.owl-carousel .owl-animated-in {z-index: 0;}
.owl-carousel .owl-animated-out {z-index: 1;}
.owl-carousel .fadeOut {-webkit-animation-name: fadeOut; animation-name: fadeOut;}
.owl-height {transition: height .5s ease-in-out;}
.owl-carousel .owl-item .owl-lazy {opacity: 0; transition: opacity .4s ease;}
.owl-carousel .owl-item img.owl-lazy {-webkit-transform-style: preserve-3d; transform-style: preserve-3d;}
.owl-carousel .owl-video-wrapper {position: relative; height: 100%; background: #000;}
.owl-carousel .owl-video-play-icon {position: absolute; height: 80px; width: 80px; left: 50%; top: 50%; margin-left: -40px; margin-top: -40px; background: url(owl.video.play.png) no-repeat; cursor: pointer; z-index: 1; -webkit-backface-visibility: hidden; transition: -webkit-transform .1s ease; transition: transform .1s ease;}
.owl-carousel .owl-video-play-icon:hover {-webkit-transform: scale(1.3,1.3); -ms-transform: scale(1.3,1.3); transform: scale(1.3,1.3);}
.owl-carousel .owl-video-playing .owl-video-play-icon,
.owl-carousel .owl-video-playing .owl-video-tn {display: none;}
.owl-carousel .owl-video-tn {opacity: 0; height: 100%; background-position: center center; background-repeat: no-repeat; background-size: contain; transition: opacity .4s ease;}
.owl-carousel .owl-video-frame {position: relative; z-index: 1; height: 100%; width: 100%;}

@-webkit-keyframes fadeOut{
	0% {
		opacity:1;
	}
	100% {
		opacity:0;
	}
}
@keyframes fadeOut{
	0% {
		opacity:1;
	}
	100% {
		opacity:0;
	}
}


.owl-theme .owl-nav {margin-top: 10px; text-align: center; -webkit-tap-highlight-color: transparent; }
.owl-theme .owl-nav [class*='owl-'] {color: #FFF; font-size: 14px; margin: 5px; padding: 4px 7px; background: #D6D6D6; display: inline-block; cursor: pointer; border-radius: 3px;}
.owl-theme .owl-nav [class*='owl-']:hover {background: #869791; color: #FFF; text-decoration: none;}
.owl-theme .owl-nav .disabled {opacity: 0.5; cursor: default;}
.owl-theme .owl-nav.disabled + .owl-dots {margin-top: 10px;}
.owl-theme .owl-dots {text-align: center; -webkit-tap-highlight-color: transparent;}
.owl-theme .owl-dots .owl-dot {display: inline-block; zoom: 1; *display: inline;}
.owl-theme .owl-dots .owl-dot span {width: 10px; height: 10px; margin: 5px 7px; background: #D6D6D6; display: block; -webkit-backface-visibility: visible; transition: opacity 200ms ease; border-radius: 30px;}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {background: #869791;}

.owl-nav {text-align: center;}
.owl-nav .owl-prev,
.owl-nav .owl-next {display: inline-block; width: 50px; height: 50px; border-radius: 50%; box-sizing: border-box; border: 2px solid #2064df; text-indent: -9999px; margin: 0 5px;}
.owl-nav .owl-prev {background: url(../images/slider_arrow_left.png) no-repeat -3px -2px;}
.owl-nav .owl-next {background: url(../images/slider_arrow_right.png) no-repeat 0 -2px;}

.owl-nav .owl-prev.disabled,
.owl-nav .owl-next.disabled {border-color: #a6c1f2;}
.owl-nav .owl-prev.disabled {background-position: -3px -52px;}
.owl-nav .owl-next.disabled {background-position: 0 -52px;}

.owl-dots {display: inline-block; text-align: center;}
.owl-dots .owl-dot {display: inline-block; width: 14px; height: 14px; box-sizing: border-box; border-radius: 50%; background: #2064df; border: 2px solid #fff; margin: 0 5px -15px;}
.owl-dots .owl-dot.active {border-color: #2064df; background: #fff;}


/* ================================================ */



/* ---- FILTERS ----------------------------------- */

.filters_block {width: 285px; margin-right: 20px; float: left; background: #f2f2f2; overflow: hidden; border-radius: 4px;}
.filters_block .city_switcher {background: #2d75f8; width: 100%; height: 104px; box-sizing: border-box; padding: 20px;}
.filters_block .city_switcher .title {color: #fff; font-family: 'RobotoBold'; font-size: 22px;}
.filters_block .city_switcher #catalog_switcher {margin-top: 15px;}
.filters_block .city_switcher #catalog_switcher:after {content: ''; display: block; clear: both;}
.filters_block .city_switcher #catalog_switcher label {float: left; cursor: pointer; margin-right: 20px;}
.filters_block .city_switcher #catalog_switcher label span {font-size: 16px; color: #abc8fc; position: relative; display: block; padding-left: 32px; line-height: 20px;}
.filters_block .city_switcher #catalog_switcher label span:before {content: ''; display: block; position: absolute; top: 0; left: 0; width: 20px; height: 20px; box-sizing: border-box; border-radius: 50%; border: 2px solid #abc8fc; background: #fff; box-shadow: inset 0 0 0 8px #2d75f8;
	transition: box-shadow 0.3s;
}
.filters_block .city_switcher #catalog_switcher label input {display: none;}
.filters_block .city_switcher #catalog_switcher label input:checked + span {color: #fff;}
.filters_block .city_switcher #catalog_switcher label input:checked + span:before {box-shadow: inset 0 0 0 4px #2d75f8;}



.filters_block .filters {padding: 20px;}
.filters_block .filters .title.filter_header {color: #484848; font-size: 22px; font-family: 'RobotoBold'; display: block; margin: 0 0 25px;}
.filters_block .filters .title.filter_header:after {content: ''; display: block; clear: both;}
.filters_block .filters .title.filter_header .reset_filters {color: #2d75f8; font-size: 14px; font-family: 'Roboto'; cursor: pointer; float: right; margin-top: 6px; display: none;}

.filters_block .filters .price-filter,
.filters_block .filters .class-filters,
.filters_block .filters .filter {margin-bottom: 20px;}
.filters_block .filters .title:not(.filter_header) {color: #484848; font-size: 16px; font-family: 'RobotoMedium'; display: block; margin: 0 0 13px;}


.filters_block .filters .price-filter {width: 228px; position: relative;}
.filters_block .filters #amount {display: none;}
.filters_block .filters .input_results {margin: 20px 0 0; position: relative;}
.filters_block .filters .input_results:after {content: ''; display: block; clear: both;}
.filters_block .filters .input_results:before {content: ''; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(../images/price_filter_bg.png) no-repeat 50% 50%;}
.filters_block .filters .input_results .result_from,
.filters_block .filters .input_results .result_to {width: 102px; height: 57px; background: #fff; border-radius: 3px; position: relative; box-sizing: border-box; padding: 10px;}
.filters_block .filters .input_results .result_from {float: left;}
.filters_block .filters .input_results .result_to {float: right;}

.filters_block .filters .input_results .name {font-size: 13px; color: rgba(72,72,72,0.6);}
.filters_block .filters .input_results .value {font-size: 20px; line-height: 20px; margin-top: 5px; display: block; color: #484848; font-family: 'RobotoMedium';}
.filters_block .filters .input_results .value .currency {font-size: 15px; float: left; font-family: 'RobotoMedium';}
.filters_block .filters .input_results .value input {display: inline; width: 60px; margin: 0; position: relative; top: -2px; font-size: 20px; line-height: 20px; color: #484848; font-family: 'RobotoMedium'; border: none; background: none;}

.filters_block .ui-slider-horizontal {height: 6px !important; border-radius: 3px !important; background: #bebebe !important; border: none !important;}
.filters_block .ui-widget-header {background: #2d75f8 !important;}
.filters_block .ui-state-default,
.filters_block .ui-widget-content .ui-state-default,
.filters_block .ui-widget-header .ui-state-default,
.filters_block .ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {width: 16px !important; height: 20px !important; background: url(../images/price_filter_marker.png) !important; border: none !important; cursor: pointer !important; margin-left: -8px !important;}


.filters_block .filters .filter label {display: block; margin: 0 0 10px; cursor: pointer;}
.filters_block .close_filter_btn {display: none;}
.filters_block .filters .filter label input {display: none;}
.filters_block .filters .filter label span {display: block; height: 16px; line-height: 16px; font-size: 15px; color: #717171; padding-left: 28px; position: relative;}
.filters_block .filters .filter label span:before {content: ''; width: 16px; height: 16px; position: absolute; top: 0; left: 0; background: url(../images/filter_checkbox.png) no-repeat 0 0;}
.filters_block .filters .filter label input:checked + span:before {background-position: 0 -26px;}



/* ================================================ */


/* ---- CATALOG PAGE ------------------------------ */

.catalog_page {margin-bottom: 30px;}
.catalog_page .page_title {margin: 0 0 30px;}
.right_part_block {width: calc(100% - 305px); float: right;}

.catalog_banner {margin: 0 0 50px;}
.catalog_banner img {max-width: 100%; display: block;}

.catalog_page .products_list_block .products_item {width: calc(33.33% - 20px);}
.catalog_page .products_list_block .products_item.hide {display: none;}
.catalog_page .products_list_block .owl-item .page {padding-bottom: 90px;}
.catalog_page .products_list_block .owl-item .page:after {content: ''; display: block; clear: both;}


.products_list_block .more_cars_link {width: 100%; display: block; height: 80px; font-size: 20px; line-height: 24px; box-sizing: border-box; padding: 28px 10px; text-align: center; border: 1px solid #e5e5e5; margin: 20px 0 0; color: #484848; font-family: 'PFBeauSansPro';}
.catalog_page .open_filter_btn {display: none;}

.catalog_page .products_list_block .owl-dots {counter-reset: myCounter; position: relative; top: 15px;}
.catalog_page .products_list_block .owl-dot {width: 28px; height: 28px; line-height: 26px; text-align: center; color: #fff;}
.catalog_page .products_list_block .owl-dot.active {color: #2064df; font-size: 14px; font-family: 'RobotoBold';}
.catalog_page .products_list_block .owl-dot:before {counter-increment: myCounter; content:counter(myCounter);}

.catalog_page .seo_block {margin: 40px 0; font-size: 14px; color: #333;}

.catalog_page .products_list_block .products_list_loader {width: 100%; height: 200px; background: url(../images/loading.gif) no-repeat 50% 50%;}


/* ================================================ */


/* ---- PRODUCT PAGE ------------------------------ */


.product {margin-top: 20px;}
.product .page_title {font-size: 50px; line-height: 50px;}
.before_image_block {width: 390px; float: left; margin-bottom: 20px; padding-right: 50px; box-sizing: border-box;}
.images_block {width: calc(100% - 390px); position: relative; float: right; min-height: 300px;}
.images_block:after {content: ''; display: block; clear: both;}
.after_image_block {width: 390px; float: left;}


.images_block .image {width: 100%;}
.images_block .image.with_thumbs {width: calc(100% - 100px); float: left;}
.images_block .image img {display: block; max-width: 100%; max-height: 100%; border-radius: 5px;}
.images_block .label {position: absolute; z-index: 9; top: 10px; line-height: 30px;}
.images_block .label.special {left: 20px; color: #fff; padding: 2px 10px 0; background: #ff5d5d; font-size: 14px; text-transform: uppercase; font-family: 'PFBeauSansProSemiBold';}
.images_block .label.special:before,
.images_block .label.special:after {content: ''; display: block; position: absolute; top: 0; width: 5px; height: 100%; background: url(../images/special_label_bg.png);}
.images_block .label.special:before {left: -5px;}
.images_block .label.special:after {right: -5px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}


.images_block .jscarousal-vertical,
.images_block .galery {width: 80px; float: right; position: relative;}
.images_block .jscarousal-vertical {height: 450px !important;}

.images_block .galery .galery_item {padding: 5px 0; height: 52px;}
.images_block .galery .galery_item>span {display: block; width: 80px; height: 52px; border-radius: 3px; overflow: hidden; position: relative;}
.images_block .galery .galery_item.active>span:after {content: ''; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; box-shadow: inset 0 0 0 2px #2d75f8; border-radius: 3px;}

.images_block .galery .galery_item>span span {display: flex; align-items: center; width: 80px; height: 150px; position: absolute; top: 50%; left: 50%; margin: -75px 0 0 -40px;}

.images_block .galery .galery_item img {display: block; max-width: 100%; max-height: 100%;}


.before_image_block .labels {font-size: 18px; color: rgba(72,72,72,0.8); font-family: 'PFBeauSansPro';}


.after_image_block .attrs {margin: 20px 0;}
.after_image_block .attrs:after {content: ''; display: block; clear: both;}
.after_image_block .attrs span {float: left; font-size: 22px; line-height: 24px; margin-right: 15px; color: #666; font-family: 'RobotoMedium';}
.after_image_block .attrs span:before {content: ''; display: block; float: left; width: 26px; height: 26px; margin-right: 2px; background-position: 0 0; background-repeat: no-repeat; position: relative; top: 2px;}
.after_image_block .attrs .passengers_num:before {background-image: url(../images/prod_passengers_icon.png);}
.after_image_block .attrs .baggage_number:before {background-image: url(../images/prod_baggage_icon.png);}
.after_image_block .attrs .transmission:before {background-image: url(../images/prod_transmission_icon.png);}
.after_image_block .attrs .doors_number:before {background-image: url(../images/prod_doors_icon.png);}


.after_image_block .price {margin: 0 0 20px; display: block;}
.after_image_block .price .special-price {display: inline-block; color: #242424; font-family: 'RobotoMedium'; font-size: 28px; margin-right: 10px;}
.after_image_block .price .special-price span {font-size: 34px; font-family: 'RobotoMedium';}
.after_image_block .price .regular-price {display: inline-block; position: relative; font-family: 'RobotoLight'; font-size: 18px; color: rgba(36,36,36,0.6);}
.after_image_block .price .regular-price:after {content: ''; display: block; height: 1px; background: rgba(36,36,36,0.6); width: 100%; position: absolute; top: 50%; left: 0;}
.after_image_block .price .regular-price span {font-size: 22px; font-family: 'RobotoLight';}


.after_image_block .order_show {width: 230px; height: 64px; background: #f4bb07; border-radius: 4px; color: #fff; text-align: center; line-height: 64px; font-size: 20px; font-family: 'PFBeauSansProSemiBold'; border: none; text-transform: uppercase; cursor: pointer;
	transition: background 0.3s;
}
.after_image_block .order_show:hover {background: #ff5d5d;}


.tabs_block {clear: both; padding-top: 75px;}
.tabs_block .tabs_head {border-bottom: 1px solid #d6d6d6; margin: 0 0 10px;}
.tabs_block .tabs_head:after {content: ''; display: block; clear: both;}
.tabs_block .tabs_head span {color: #242424; font-size: 22px; height: 46px; line-height: 46px; padding: 0 15px; position: relative; float: left; font-family: 'PFBeauSansProSemiBold'; cursor: pointer;}
.tabs_block .tabs_head span:after {content: ''; display: block; position: absolute; width: 0%; height: 4px; background: #2d75f8; bottom: -1px; left: 0;
	transition: width 0.3s;
}
.tabs_block .tabs_head span.active:after {width: 100%;}

.tabs_block .tabs_body {}
.tabs_block .tabs_body>div {display: none;}
.tabs_block .tabs_body>div.active {display: block;}
.tabs_block .tabs_body .description {font-size: 15px; padding: 20px 0; color: #2a2a2a; line-height: 22px;}
.tabs_block .tabs_body .description p {margin-bottom: 20px;}
.tabs_block .tabs_body .description ul,
.tabs_block .tabs_body .description ol {list-style-position: inside; list-style: none; padding-left: 20px; margin-bottom: 20px;}

.tabs_block .tabs_body .description li {line-height: 22px;}
.tabs_block .tabs_body .description ul li {position: relative; padding-left: 18px;}
.tabs_block .tabs_body .description ul li:before {content: ''; display: block; position: absolute; left: 0; top: 9px; width: 6px; height: 6px; border: 1px solid #3c7ff8; border-radius: 50%; box-sizing: border-box;}


.tabs_block .tabs_body .description ol {counter-reset: myCounter;}
.tabs_block .tabs_body .description ol li:before {counter-increment: myCounter; content:counter(myCounter)'.'; font-size: 13px; color: #3c7ff8; margin-right: 7px;}



.tabs_block .tabs_body .advanced-attrs .table {width: 100%;}
.tabs_block .tabs_body .advanced-attrs .table:after {content: ''; display: block; clear: both;}

.tabs_block .tabs_body .advanced-attrs .row {width: calc(50% - 10px); display: table; float: left;}
.tabs_block .tabs_body .advanced-attrs .row:nth-child(odd) {margin-right: 10px;}
.tabs_block .tabs_body .advanced-attrs .row:nth-child(even) {margin-left: 10px;}


.tabs_block .tabs_body .advanced-attrs .row:nth-child(4n+1),
.tabs_block .tabs_body .advanced-attrs .row:nth-child(4n+2) {background: #f3f3f3;}


.tabs_block .tabs_body .advanced-attrs .row div {width: 50%; height: 45px; padding: 15px 20px; display: table-cell;}
.tabs_block .tabs_body .advanced-attrs .row div:after {content: ''; display: block; clear: both;}

.tabs_block .tabs_body .advanced-attrs .row .label {color: rgba(36,36,36,0.8);}
.tabs_block .tabs_body .advanced-attrs .row .value {text-align: right; color: #242424;}



.similar-cars.product_page {margin-top: 75px;}
.product_page .owl-carousel .owl-stage-outer {padding-bottom: 70px;}


/* ================================================ */


/* ---- PRODUCT GALERY ---------------------------- */

.v_carousel {}
.v_carousel .v_carousel_up,
.v_carousel .v_carousel_down {display: block; position: relative; height: 20px; width: 60px; cursor: pointer; background-color: #a6c1f2; background-repeat: no-repeat; background-position: 50% 50%; border-radius: 3px; margin: 10px;}
.v_carousel .v_carousel_up.disabled,
.v_carousel .v_carousel_down.disabled {cursor: default; opacity: 0.3;}
.v_carousel .v_carousel_up {background-image: url(../images/slider_arrow_top.png);}
.v_carousel .v_carousel_down {background-image: url(../images/slider_arrow_bottom.png);}


.v_carousel .v_carousel_wrapp {position: relative; height: calc(100% - 80px); overflow: hidden;}
.v_carousel .v_carousel_inner {position: absolute; top: 0; left: 0;
	transition: top 0.3s;
}


/* ================================================ */


/* ---- CONDITIONS PAGE --------------------------- */

.conditions_page {margin: 30px auto 70px;}
.conditions_page .conditions_content {width: calc(100% - 330px); float: left;}
.conditions_page .conditions_content ul {list-style: none; padding-left: 15px; margin: 0 0 25px;}
.conditions_page .conditions_content ul li {position: relative; font-size: 15px; color: rgba(36,36,36,0.8); line-height: 16px; padding: 10px 0 10px 18px;}
.conditions_page .conditions_content ul li:before {content: ''; display: block; position: absolute; left: 0; top: 16px; width: 6px; height: 6px; background: #3c7ff8; border-radius: 50%; box-sizing: border-box;}

.conditions_page .conditions_content h4 {font-size: 20px; color: #242424; line-height: 24px; margin: 0 0 15px; font-family: 'PFBeauSansProSemiBold';}
.conditions_page .conditions_content p {font-size: 15px; color: rgba(36,36,36,0.8); line-height: 22px; margin: 0 0 25px;}



.conditions_page .advanced-info {width: 290px; float: right; padding: 25px 35px; background: #efefef; line-height: 22px; font-size: 15px; color: #242424; font-family: 'RobotoMedium'; box-sizing: border-box; position: relative;}
.conditions_page .advanced-info:after {content: ''; width: 44px; height: 44px; background: #2568e0 url(../images/info_icon.png) no-repeat 50% 50%; border-radius: 50%; border: 4px solid #fff; position: absolute; top: -19px; left: -19px;}

/* ================================================ */


/* ---- TEXT PAGE --------------------------------- */

.text_page_content {margin: 30px 0 50px;}

.text_page_content ol,
.text_page_content ul {list-style: none; padding-left: 15px; margin: 0 0 25px;}

.text_page_content li {position: relative; font-size: 15px; color: rgba(36,36,36,0.8); line-height: 16px; padding: 10px 0 10px 18px;}
.text_page_content ul li:before {content: ''; display: block; position: absolute; left: 0; top: 16px; width: 6px; height: 6px; background: #3c7ff8; border-radius: 50%; box-sizing: border-box;}

.text_page_content ol {counter-reset: myCounter;}
.text_page_content ol li:before {counter-increment: myCounter; content: counter(myCounter)'.'; display: block; position: absolute; left: 0; top: 12px; color: #3c7ff8; font-size: 12px; font-family: 'PFBeauSansProBold';}

.text_page_content h1,
.text_page_content h2,
.text_page_content h3,
.text_page_content h4,
.text_page_content h5,
.text_page_content h6 {color: #242424; line-height: 24px; margin: 0 0 15px; font-family: 'PFBeauSansProSemiBold';}

.text_page_content h1 {font-size: 32px;}
.text_page_content h2 {font-size: 28px;}
.text_page_content h3 {font-size: 24px;}
.text_page_content h4 {font-size: 20px;}
.text_page_content h5 {font-size: 18px;}
.text_page_content h6 {font-size: 16px;}

.text_page_content p {font-size: 15px; color: rgba(36,36,36,0.8); line-height: 22px; margin: 0 0 25px;}
.text_page_content a {font-size: 15px; color: #2d75f8; text-decoration: none; font-family: 'PFBeauSansPro'; cursor: pointer;}
.text_page_content a:hover {text-decoration: underline;}

/* ================================================ */


/* ---- CONTACT PAGE ------------------------------ */

.contact_page {margin: 40px auto 150px;}
.contact_page #first-switcher {background: none;}
.contact_page #first-switcher>span {font-size: 15px; color: #484848; line-height: 40px; float: left; margin-right: 15px;}
.contact_page #first-switcher #first_time_switcher .switcher-item {color: #2d75f8; position: relative;}
.contact_page #first-switcher #first_time_switcher .switcher-item[selected="selected"] {color: #fff; background: #2d75f8;}
.contact_page #first-switcher #first_time_switcher .switcher-item[selected="selected"]:before {background-image: url(../images/check_first_switcher_icon_white.png);}

.contact_page #first-switcher #first_time_switcher .switcher-item:first-child {width: 45%; left: -1px;}
.contact_page #first-switcher #first_time_switcher .switcher-item:last-child {width: 55%; right: -1px;}



.contact_page .info {margin: 20px 0 30px;}
.contact_page .info:after {content: ''; display: block; clear: both;}
.contact_page .info span {float: left; font-size: 18px; color: #363636; font-family: 'RobotoMedium'; position: relative; line-height: 20px; margin-bottom: 15px;}
.contact_page .info span a {color: #363636; font-family: 'RobotoMedium'; text-decoration: none; position: relative; padding: 5px 0 5px 30px;}
.contact_page .info span a:before {content: ''; display: block; width: 25px; height: 25px; position: absolute; top: 4px; left: 0; background-repeat: no-repeat; background-position: 0 50%; background-size: 25px;}
.contact_page .info span:not(:first-child) {margin-left: 20px;}

.contact_page .info .address .go_to_big_map {display: block; font-size: 14px; color: #1f63df; max-width: 170px; line-height: 16px; margin-top: 10px; text-decoration: none;}
.contact_page .info .address .go_to_big_map:hover {text-decoration: underline;}
.contact_page .info .address a:before {background-image: url(../images/contact_adress_icon.png);}
.contact_page .info .phone a:before {background-image: url(../images/contact_phone_icon.png);}
.contact_page .info .email a:before {background-image: url(../images/contact_email_icon.png);}
.contact_page .info .viber a:before {background-image: url(../images/contact_viber_icon.png);}

.contact_page .map {display: block; height: 470px;}




/* ================================================ */



/* ---- 404 PAGE ---------------------------------- */

.page_404 {background: url(../images/404_page_img.png) no-repeat 50% 0; padding: 237px 0 80px; margin-top: 185px;}
.page_404 h1 {color: #2a2a2a; font-size: 44px; line-height: 46px; width: 500px; margin: 0 auto; font-family: 'PFBeauSansProLight'; font-weight: 300; letter-spacing: 2px; text-align: center; text-transform: uppercase;}
.page_404 .text {display: block; margin-top: 23px; font-size: 15px; color: #2a2a2a; text-align: center;}
.page_404 .text a {color: #2064df; text-decoration: none; cursor: pointer;}
.page_404 .text a:hover {text-decoration: underline;}

/* ================================================ */


/* ---- MEDIA ------------------------------------- */

@media only screen and (max-width: 1260px){
	.banner_picker_block {min-height: 452px;}
	.banners {height: 452px; position: relative;}
	.picker_section {height: 375px;}
	.picker {width: 610px; margin: 0 auto;}
	.picker_form .form-field {/*width: 50%; */padding: 10px; margin: 0; float: left; box-sizing: border-box;}
	.picker_form .pick_up {margin: 10px 0 0 10px;}
	.picker_section .title {margin-left: 10px;}

	.header .phone .fake_select .fake_select_head,
	.header .phone .fake_select .fake_select_body ul li a {font-size: 18px;}
}

@media only screen and (max-width: 1200px){
	.header .lang-switcher {width: 65px;}
	.header .phone {width: 164px;}
	.header .phone .fake_select {display: inline-block;}
	.header .phone .fake_select .fake_select_head {padding: 0 30px 5px 15px; display: inline-block;}
	.header .phone .fake_select .fake_select_head:after {right: 10px;}
	.header .phone .fake_select .fake_select_body ul li a {padding: 6px 15px;}
	.header .phone .fake_select .fake_select_body ul li .callback_show {padding: 10px 15px;}

	.header .menu {width: calc(100% - 650px);}

	.header .phone .fake_select .fake_select_head,
	.header .phone .fake_select .fake_select_body ul li a {font-size: 14px;}
}

@media only screen and (max-width: 1150px){
	.banners {}
	.banners .banner-item {position: absolute; width: 2000px; height: 100%; top: 0; left: 50%; margin-left: -1000px; text-align: center;}
	.banners .banner-item img {max-width: auto; max-height: 100%;}

	.header .logo {width: 240px;}
	.header .menu {width: calc(100% - 600px);}

	.catalog_page .products_list_block .products_item {width: calc(50% - 20px);}
}


@media only screen and (max-width: 1080px){
	.header .logo {width: 200px;}
	.header .menu {width: calc(100% - 560px);}

	.header .menu a {margin: 25px 10px 0; font-size: 14px;}
	.header .menu a:first-child {margin-left: 0;}


	.before_image_block {width: 300px;}
	.images_block {width: calc(100% - 300px);}
	.after_image_block {width: 300px;}

	.product .price_grid .price_grid_item {width: 31.33%;}
}

@media only screen and (max-width: 1024px){
	.catalog_page .products_list_block .products_item .show_on_hover,
	.best-deals .deal .show_on_hover {box-shadow: 0 3px 5px 0 rgba(0,0,0,0.3); display: block;}
	.catalog_page .products_list_block .products_item,
	.best-deals .deal {margin-bottom: 62px; box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);}
}

@media only screen and (max-width: 960px){
	.header .menu_btn {display: block; background-size: 30px; top: 20px; left: 20px;}
	/*.header .phone_btn {display: block;}*/

	.header .logo {width: 100%; float: none; box-sizing: border-box; padding: 0 75px;}
	.header .logo a {width: 960px; text-align: center;}

	.header .left_part {display: none; position: fixed; z-index: 999999; top: 0; left: 0; width: 100vw; height: 100%; background: rgba(0,0,0,0.5); opacity: 0; transition: opacity 0.3s;}
	.header .left_part_inner {position: absolute; top: 0; left: -460px; max-width: 460px; width: 100%; min-height: 100%; background: #4b8af9; transition: right 0.5s; transition: left 0.3s;}
	.header .left_part.open {opacity: 1;}
	.header .left_part.open .left_part_inner {left: 0;}

	.header .left_part .close_menu_btn {width: 30px; height: 30px; position: absolute; top: 15px; right: 15px; background: url(../images/close_menu_icon.png) no-repeat 50% 50%; background-size: contain; opacity: 0.6;}

	.header .menu, .header .phone, .header .lang-switcher, .header .city_switcher_block {border: none; padding: 0 40px; box-sizing: border-box;}

	.header .city_switcher_block {padding-top: 25px;}
	.header .city_switcher_block .mobile_title {display: block;}
	.header .city_switcher_block .fake_select {display: block; background: none; height: auto; margin-top: 13px;}
	.header .city_switcher_block .fake_select .fake_select_head {display: none;}
	.header .city_switcher_block .fake_select .fake_select_body {width: 200px; height: 36px; box-sizing: border-box; border: 1px solid #6c9ffa; border-radius: 18px;}
	.header .city_switcher_block .fake_select .fake_select_body ul {list-style: none; width: calc(100% + 2px); margin-left: -1px;}
	.header .city_switcher_block .fake_select .fake_select_body ul:after {content: ''; display: block; clear: both;}

	.header .city_switcher_block .fake_select .fake_select_body ul li {height: 36px; float: left; margin-top: -1px; line-height: 36px; text-align: center; cursor: pointer;}
	.header .city_switcher_block .fake_select .fake_select_body ul li:first-child {width: 80px;}
	.header .city_switcher_block .fake_select .fake_select_body ul li:last-child {width: 120px;}
	.header .city_switcher_block .fake_select .fake_select_body ul li a {font-family: 'RobotoMedium'; font-size: 15px; color: rgba(255,255,255,0.8); text-decoration: none; line-height: 36px; display: inline; padding: 0;}
	.header .city_switcher_block .fake_select .fake_select_body ul li a:hover {background: none;}
	.header .city_switcher_block .fake_select .fake_select_body ul li.current {display: block;}
	.header .city_switcher_block .fake_select .fake_select_body ul li.current a {color: #2d75f8;}
	.header .city_switcher_block .fake_select .fake_select_body ul li.current {background: #fff; color: #2d75f8; border-radius: 18px;}
	.header .city_switcher_block .fake_select .fake_select_body ul li.current:before {content: ''; display: inline-block; width: 20px; height: 12px; background: url(../images/check_first_switcher_icon.png) no-repeat 50% 50%; margin-right: 7px;}



	.header .city_switcher_block {width: 100%; height: 125px; background: #2c75f8;}
	.header .menu {width: 100%; height: auto; padding: 25px 40px; border-bottom: 1px solid #4882e6;}
	.header .menu a {display: block; color: #fff; font-family: 'RobotoMedium'; font-size: 18px; line-height: 20px; margin: 8px 0; text-align: left;}
	.header .lang-switcher {width: 100%; height: auto; padding-top: 25px; position: static;}
	.header .lang-switcher .mobile_title {display: block;}
	.header .lang-switcher .fake_select {display: block; background: none; height: auto; margin-top: 10px;}
	.header .lang-switcher .fake_select .fake_select_head {display: none;}
	.header .lang-switcher .fake_select .fake_select_body ul {list-style: none; padding: 0 0 10px;}
	.header .lang-switcher .fake_select .fake_select_body ul:after {content: ''; display: block; clear: both;}
	.header .lang-switcher .fake_select .fake_select_body ul li {float: left; margin: 0 15px 0 0;}
	.header .lang-switcher .fake_select .fake_select_body ul li a {font-family: 'PFBeauSansProSemiBold'; font-size: 16px; color: #fff; padding: 0; text-decoration: none;}
	.header .lang-switcher .fake_select .fake_select_body ul li a:hover {background: none;}
	.header .lang-switcher .fake_select .fake_select_body ul li.current {position: relative; display: block;}
	.header .lang-switcher .fake_select .fake_select_body ul li.current a {color: #1043a2;}
	.header .lang-switcher .fake_select .fake_select_body ul li.current:after {content: ''; display: block; position: absolute; left: 50%; margin-left: -4px; bottom: -3px; background: url(../images/lang_switcher_curr_icon.png) no-repeat; background-size: contain; width: 9px; height: 6px;}

	.header .phone_btn {display: block;}

	.header .right_part {display: none; position: fixed; z-index: 9999; top: 0; left: 0; width: 100vw; height: 100%; background: rgba(0,0,0,0.5); opacity: 0; transition: opacity 0.3s;}
	.header .right_part_inner {position: absolute; top: 0; right: -460px; max-width: 460px; width: 100%; min-height: 100%; background: #fff; transition: right 0.5s; transition: right 0.3s;}
	.header .right_part.open {opacity: 1;}
	.header .right_part.open .right_part_inner {right: 0;}
	.popup_wrapp .popup_hide,
	.header .right_part .close_phone_btn {position: absolute; top: 15px; left: 40px; width: 30px; height: 30px; border: 1px solid #9b9b9b; border-radius: 50%; background: url(../images/close_popup_arrow.png) no-repeat 50% 50%; cursor: pointer; transform: rotate(180deg);}
	.header .phone {float: none; height: auto; width: auto; max-width: 300px;}

	.header .phone .fake_select {padding: 0; display: block; height: auto; overflow: visible; margin: 0;}
	.header .phone .fake_select .fake_select_head {display: none;}
	.header .phone .fake_select .fake_select_body {box-shadow: none; position: relative;}
	.header .phone .fake_select .fake_select_body ul li.current {display: block;}
	.header .phone .fake_select .callback_show:after {display: none;}
	.header .phone .fake_select .fake_select_body ul {list-style: none;}
	.header .phone .fake_select .fake_select_body ul li {line-height: 20px; padding: 5px 0;}
	.header .phone .fake_select .fake_select_body ul li a {font-size: 20px; color: #484848; font-family: 'RobotoMedium'; text-decoration: none;}
	.header .phone .fake_select .fake_select_body ul li .callback_show {display: block; font-size: 18px; margin-top: 20px; color: #2d75f8; font-family: 'Roboto';}

	.header .lang-switcher {position: static;}
	.header .phone_btn {background-size: 30px; top: 20px; right: 20px;}

	.popup_wrapp .form-title,
	.header .phone .form-title {display: block; margin: 60px 0 30px; font-size: 24px; color: #363636; font-weight: bold; text-align: left; font-family: 'PFBeauSansProSemiBold';}
	.popup_wrapp .form-title .product-name,
	.header .phone .form-title .product-name {font-family: 'PFBeauSansProSemiBold';}

	.popup_wrapp>div {width: 100%; max-width: 460px; padding-bottom: 40px;}
	.popup_wrapp .form_field {margin-bottom: 17px;}
	.popup_wrapp .form_field input {font-size: 17px;}
	.popup_wrapp .btn input {font-size: 14px; height: 45px; width: 150px; margin-top: 15px;}
	.popup_wrapp .btn .form_loader {width: 45px; height: 45px; margin-top: 15px;}

	.catalog_banner {display: none;}


	.before_image_block,
	.images_block,
	.after_image_block {width: 100%; float: none; padding-right: 0; min-height: 0;}


	.header .left_part .close_btn_substrate {display: block; width: 100%; height: 62px; background: #2c75f8;}

	.header .left_part .close_btn_substrate .city_switcher_block {display: none;}


	.product .price_grid {padding-right: 0;}
	.product .price_grid .price_grid_item {width: 14.66%;}
}

@media only screen and (max-width: 900px){
	.conditions_page .conditions_content,
	.conditions_page .advanced-info {width: 100%; float: none;}
	.conditions_page .conditions_content {margin-bottom: 40px;}
}

@media only screen and (max-width: 860px){
	.filters_block {width: 240px;}
	.right_part_block {width: calc(100% - 260px);}

	.filters_block .filters .price-filter {width: 200px;}
	.filters_block .filters .input_results .result_from,
	.filters_block .filters .input_results .result_to {width: 90px;}

	.filters_block .city_switcher #catalog_switcher label {margin-right: 15px;}
}

@media only screen and (max-width: 820px){
	.catalog_page .products_list_block .products_item {width: calc(100% - 20px); margin-bottom: 62px; box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);}
	.catalog_page .products_list_block .products_item .show_on_hover {display: block;}
}


@media only screen and (max-width: 767px){
	.footer_block .footer .logo,
	.footer_block .footer .address_block,
	.footer_block .footer .contact,
	.footer_block .footer .about,
	.footer_block .footer .links {width: 25%;}
	.footer_block .footer .logo {float: none; margin-bottom: 40px;}


	.advantages .advantage-item {padding: 0 5px;}
	.advantages .advantage-item .image_block {padding-right: 10px; width: 50px;}
	.advantages .advantage-item .info_block {width: calc(100% - 60px);}
	.advantages .advantage-item .info_block .title {font-size: 15px;}
	.advantages .advantage-item .info_block .description {font-size: 12px;}

	.product .page_title {font-size: 32px; line-height: 32px;}
	.similar-cars.product_page .inner_block>.title {font-size: 29px;}

	.after_image_block {text-align: center;}
	.after_image_block .attrs,
	.after_image_block .order_show {display: inline-block;}

	.after_image_block .price .special-price span {font-size: 36px;}
	.after_image_block .price .special-price {font-size: 26px; color: #484848;}

	.after_image_block .price .regular-price span {font-size: 25px;}
	.after_image_block .price .regular-price {font-size: 20px; color: rgba(72,72,72,0.6);}

	.tabs_block .tabs_head span {font-size: 15px; color: #484848; opacity: 0.6; height: 36px; line-height: 36px; padding: 0 10px;}
	.tabs_block .tabs_head span.active {opacity: 1;}

	.tabs_block {padding-top: 50px;}

	.callback_form_block.no_page {height: 178px;}

	.inner_block.faq_page {padding: 0;}
	.inner_block.faq_page .page_title {padding: 0 20px;}

	.questions_block .faq-item .questions {font-size: 15px; padding: 20px 65px;}
	.questions_block .faq-item .answer p {font-size: 12px;}
	.questions_block .faq-item .answer>div {padding: 18px 65px;}


	.tabs_block .tabs_body .advanced-attrs .row {width: 100%; float: none; margin: 0 !important;}
	.tabs_block .tabs_body .advanced-attrs .row:nth-child(4n+1),
	.tabs_block .tabs_body .advanced-attrs .row:nth-child(4n+2) {background: none;}
	.tabs_block .tabs_body .advanced-attrs .row:nth-child(2n+1) {background: #f3f3f3;}

	/*.popup_wrapp .form_field.date_field {width: calc(50% - 5px);}*/
	/*.popup_wrapp .form_field.date_field:after {right: -10px; background-size: 15px;}*/
	.popup_wrapp .form_field.date_field.time:after {right: -10px; background-size: 15px;}
	/*.popup_wrapp .form_field.date_field.first {margin-right: 10px;}*/

	.product_price_grid .price_grid {justify-content: center;}
}

@media only screen and (max-width: 640px){
	#wrapper {min-height: auto;}

	#main>.inner_block.contact_page {padding-bottom: 180px;}

	.header {height: 60px;}
	.header .menu_btn {left: 10px; top: 10px; background-size: 24px;}
	.header .phone_btn {right: 10px; top: 10px; background-size: 22px;}

	.header .logo {width: 100%; float: none; box-sizing: border-box; padding: 0 75px;}
	.header .logo a {height: 60px; width: 640px;}


	.banners {height: 540px;}
	.banner_picker_block {height: 480px; position: relative; overflow: hidden; padding-bottom: 60px;}
	.banners .banner-item {position: absolute; width: 2000px; height: 100%; top: 0; left: 50%; margin-left: -1000px; text-align: center;}
	.banners .banner-item img {max-width: auto; max-height: 100%;}
	.picker {width: auto;}
	.picker_section {height: 100%; padding: 0 20px; box-sizing: border-box;}
	.picker_form .car_counter_block {top: -117px; left: 50%; margin-left: -65px; line-height: 24px; font-size: 12px;}
	.picker_form .form-field {float: none; width: 228px; height: 54px; margin: 0 auto 15px; padding: 0;}
	.picker_section .title {display: block; text-align: center; width: 100%; max-width: 280px; margin: 80px auto 0; font-size: 23px;}
	.picker_form .select_label {width: 228px; height: 54px;}
	.picker_form .select_label .fake_select.open {position: relative; z-index: 20;}
	.picker_form .select_label .fake_select .fake_select_head {line-height: 36px; font-size: 15px; font-family: 'RobotoMedium'; padding: 20px 40px 0 15px;}
	.picker_form .select_label .fake_select .fake_select_head:after {top: 20px; right: 15px;}
	.picker_form .date_label .input_name,
	.picker_form .select_label .input_name {font-size: 12px; top: 11px; left: 15px;}
	.picker_form .select_label .fake_select.open + .input_name {z-index: 21;}
	.picker_form .select_label .fake_select .fake_select_body ul li a {padding: 0 15px; font-size: 15px; font-family: 'RobotoMedium';}
	.picker_form .select_label .fake_select.open .fake_select_head {height: 54px;}
	.picker_form .date_label {width: 114px; height: 54px;}
	.picker_form .date_label .input_name {left: 5px;}
	.picker_form .date_label input {line-height: 36px; font-size: 16px; font-family: 'RobotoMedium'; padding: 20px 5px 0;}
	.picker_form .date_label:first-child:before {background-size: 15px; top: 22px; right: -11px;}
	.picker_form .date_label:after {background-size: 11px; width: 15px; height: 15px; top: 29px; right: 11px;}
	.picker_form .pick_up {width: 228px; height: 54px; margin: 30px auto 0; display: block;}


	.advantages,
	.best-deals,
	.callback_form_block .inner_block/*,
	.mini_banners_mobile*/ {padding: 0 20px;}

	.mini_banners_mobile {display: block;}

	.mini_banners {display: none;}



	.advantages {margin-bottom: 100px;}
	.advantages .advantage-item {width: 100%; float: none; margin-bottom: 30px;}
	.advantages .advantage-item .image_block {width: 100%; float: none; padding: 0;}
	.advantages .advantage-item .info_block {width: 100%; float: none; text-align: center;}
	.advantages .advantage-item .info_block .title {margin: 25px 0 15px; font-size: 17px;}
	.advantages .advantage-item .image_block img {width: auto; display: inline;}
	.advantages .advantage-item .info_block .description {font-size: 14px;}


	/*.owl-carousel.owl-loaded {}*/
	.mini_banners_mobile .owl-item,
	.advantages .owl-item {float: left;}
	.mini_banners_mobile .owl-nav,
	.advantages .owl-nav {display: none;}
	.mini_banners_mobile .owl-dots,
	.advantages .owl-dots {display: block; margin: 30px 0;}

	.mini_banners_mobile .owl-dots.disabled,
	.advantages .owl-dots.disabled {display: none;}

	.mini_banners_mobile .owl-stage-outer,
	.advantages .owl-stage-outer {position: relative; overflow: hidden;}


	.best-deals .deals_block {display: block !important; width: 100%; margin: 0;}
	.best-deals .inner_block>.title {display: block; font-size: 23px; margin-bottom: 35px; text-align: center;}
	.best-deals .deal {width: 100%; float: none;}
	/*.best-deals .deal .show_on_hover {box-shadow: 0 3px 5px 0 rgba(0,0,0,0.3);}
	.best-deals .deal .show_on_hover {display: block;}*/
	.best-deals .deal_link {width: 100%; float: none; display: block; height: 116px !important;}
	.best-deals .deal_link span {width: 115px; height: 60px; margin-top: -30px; line-height: 20px; font-size: 21px; }
	.best-deals .deal_link span:after {display: none;}
	.best-deals .deal_link:after {content: ''; position: absolute; top: 50%; right: 30px; width: 50px; height: 30px; margin-top: -15px; background: url(../images/more_cars_arrow_icon.png) no-repeat 50% 50%;}

	.best-deals .more_cars_link {width: 100%; display: block; height: 80px; font-size: 20px; line-height: 24px; box-sizing: border-box; padding: 28px 10px; text-align: center; border: 1px solid #e5e5e5; margin: 20px 10px 0; color: #484848; font-family: 'PFBeauSansPro';}

	.best-deals .deal_item.hide {display: none;}


	.mini_banners_mobile {margin-bottom: 110px;}
	.mini_banners_mobile .banner-item img {max-width: 100%; height: auto;}

	.callback_form_block {height: auto; min-height: 316px; position: relative; overflow: hidden;}
	.callback_form_block .inner_block {background: none; /*position: static;*/ z-index: 5; height: auto;}
	.callback_form_block:before,
	.callback_form_block:after {content: ''; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
	.callback_form_block:before {background: url(../images/callback_form_bg_left.png) no-repeat 0 0; background-size: contain;}
	.callback_form_block:after {background: url(../images/callback_form_bg_right.png) no-repeat 100% 0; background-size: contain;}

	.callback_form_block .form-title {width: 150px; margin-bottom: 20px;}

	.callback_form_block .inner_block>div {width: 228px; margin: 0 auto; /*position: relative;*/ height: auto; /*overflow: hidden;*/ padding: 0 2px;}
	.callback_form_block .form_field {width: 100%; float: none; margin: 0 0 15px;}
	.callback_form_block .btn.yellow input {position: absolute; z-index: 2; bottom: -15px; left: 50%; width: 90px; height: 90px; top: auto; margin-left: -115px;}
	.callback_form_block .btn.yellow .form_loader {position: absolute; z-index: 2; bottom: -15px; left: 50%; width: 90px; height: 90px; top: auto; margin-left: -115px;}

	#wrapper {padding-bottom: 0;}
	.footer_block {height: auto; margin: 0 auto;}
	.footer_block .footer {height: auto; text-align: center; padding: 60px 0 125px;}
	.footer_block .inner_block {padding: 0 20px;}
	.callback_form_block .inner_block {padding: 35px 0 90px;}
	.footer_block .footer .address_block,
	.footer_block .footer .contact {width: 100%; float: none; text-align: center; padding: 70px 0 25px;}
	.footer_block .footer .address_block span.title:before,
	.footer_block .footer .contact span.title:before {width: 70px; height: 70px; left: 50%; margin-left: -35px; top: -70px;}
	.footer_block .footer .address_block span.title:before {background-image: url(../images/mobile_address_footer_icon.png); background-size: 46px;}
	.footer_block .footer .contact span.title:before {background-image: url(../images/mobile_phone_footer_icon.png); background-size: 40px;}


	.footer_block .footer span.title {font-size: 17px;}
	.footer_block .footer .menu a {font-size: 13px;}

	.footer_block .mobile_footer_bottom {width: 240px; padding: 0; margin: 20px auto 0;}
	.footer_block .mobile_footer_bottom:after {content: ''; display: block; clear: both;}

	.footer_block .footer .about,
	.footer_block .footer .links {width: 120px; padding: 0; text-align: left;}

	.footer_block .footer .about {padding-right: 5px;}
	.footer_block .footer .links {padding-left: 10px;}

	.footer_block .footer .address_block span.title,
	.footer_block .footer .contact span.title {font-size: 25px; padding: 10px 0 15px; text-transform: uppercase;}

	.footer_block .footer .address_block .address,
	.footer_block .footer .contact .address {font-size: 23px; padding-bottom: 10px;}

	.footer_block .footer .contact .title:not(.mobile),
	.footer_block .footer .links .title:not(.mobile) {display: none;}
	.footer_block .footer .contact .title.mobile,
	.footer_block .footer .links .title.mobile {display: block;}

	.footer_block .footer .contact .phone {font-size: 24px; margin: -9px 0 9px; display: block;}



	.footer_block .development {height: 30px; line-height: 30px;}
	.footer_block .development .inner_block {height: 30px;}
	.footer_block .development .img {top: 9px;}

	.footer_block .footer .logo {position: absolute; left: 0; bottom: -100px; height: 100px; width: 100%; background: url(../images/logo_footer_bg.png) no-repeat 0 50%; background-size: 100%; margin: 0;}
	.footer_block .footer .logo a {display: table-cell; height: 100px; width: 640px; text-align: center; vertical-align: middle;}
	.footer_block .footer .logo img {width: 56.25%;}
	.footer_block .footer .logo .copyright {margin: -15px 0 0;}



	.questions_block {margin: 25px 0 85px;}
	.questions_block .faq-item {margin-bottom: 10px;}
	.questions_block .faq-item .questions {line-height: 17px; padding: 25px 20px 25px 60px; font-size: 15px;}
	.questions_block .faq-item:not(.open) .questions:hover {background: none; border-color: #e6e6e6;}

	.questions_block .faq-item .answer {font-size: 12px;}
	.questions_block .faq-item .answer>div {padding: 25px 20px 25px 60px;}



	.filters_block_wrapper {display: none; position: fixed; z-index: 999999; top: 0; left: 0; width: 100vw; height: 100%; background: rgba(0,0,0,0.5); opacity: 0; transition: opacity 0.3s;}
	.filters_block_wrapper.open {opacity: 1;}
	.filters_block_wrapper .filters_block {position: absolute; z-index: 2; width: 300px; left: -240px; transition: left 0.3s;}
	.filters_block_wrapper.open .filters_block {left: 0;}
	.right_part_block {width: 100%; float: none;}

	.filters_block .filters .price-filter {width: 228px;}
	.filters_block .filters .input_results .result_from,
	.filters_block .filters .input_results .result_to {width: 102px;}

	.filters_block .city_switcher {height: 125px; background: #2c75f8; padding: 25px 20px 0;}
	.filters_block .city_switcher .title {font-size: 15px; color: #fff; font-family: 'Roboto'; text-align: left;}
	.filters_block .city_switcher #catalog_switcher {width: 200px; height: 36px; box-sizing: border-box; border: 1px solid #6c9ffa; border-radius: 18px;}
	.filters_block .city_switcher #catalog_switcher label {margin: 0;}
	.filters_block .city_switcher #catalog_switcher label span {height: 36px; width: 80px; margin-top: -1px; line-height: 36px; text-align: center; cursor: pointer; padding: 0;}
	.filters_block .city_switcher #catalog_switcher label:last-child span {width: 118px;}
	.filters_block .city_switcher #catalog_switcher label input:checked + span {background: #fff; color: #2d75f8; border-radius: 18px;}
	.filters_block .city_switcher #catalog_switcher label span:before {display: none;}

	.filters_block .close_btn_substrate {display: block; width: 100%; height: 62px; background: #2c75f8;}
	.filters_block .close_filter_btn {display: block; width: 30px; height: 30px; position: absolute; top: 15px; right: 15px; background: url(../images/close_menu_icon.png) no-repeat 50% 50%; background-size: contain; opacity: 0.6; transform: rotate(180deg);}

	.catalog_page .open_filter_btn {display: block; line-height: 42px; width: 135px; border: 1px solid #c4c4c4; box-sizing: border-box; color: #484848; font-family: 'RobotoMedium'; font-size: 19px; padding-left: 45px; margin: 20px 0; position: relative;}
	.catalog_page .open_filter_btn:before {content: ''; display: block; position: absolute; top: 12px; left: 16px; background: url(../images/filter_btn_icon.png); background-size: contain; width: 24px; height: 19px;}


	.product .owl-carousel .owl-stage-outer {padding: 0 0 50px;}
	.product .best-deals .deal,
	.product_page .best-deals .deal {width: calc(100% - 20px);}
	.product .owl-nav .owl-prev,
	.product .owl-nav .owl-next,
	.product_page .owl-nav .owl-prev,
	.product_page .owl-nav .owl-next {display: none;}

	.product .owl-dots,
	.product_page .owl-dots {height: 10px;}
	.product .owl-dots .owl-dot,
	.product_page .owl-dots .owl-dot {width: 8px; height: 8px; border: none; background: #a6c1f2;}
	.product .owl-dots .owl-dot.active,
	.product_page .owl-dots .owl-dot.active {background: #2064df;}

	.product .best-deals .deal .order,
	.product_page .best-deals .deal .order {width: 145px;}

	.images_block .image.with_thumbs {display: none;}
	.images_block .galery {width: 100%;}
	.images_block .galery .galery_item,
	.images_block .galery .galery_item>span {width: 100%; height: auto;}
	.images_block .galery .galery_item>span span {position: static; height: auto; width: auto; margin: 0; display: inline;}
	.images_block .galery .galery_item.active>span:after {display: none;}

	.after_image_block .attrs {margin: 35px 0 45px;}
	.after_image_block .attrs span {font-size: 20px; color: #2064df; font-family: 'RobotoLight';}
	.after_image_block .attrs span:before {background-position: 0 -13px; margin-right: 4px; background-size: 26px;}


	.conditions_page .conditions_content p,
	.conditions_page .conditions_content ol li,
	.conditions_page .conditions_content ul li {font-size: 12px;}
	.conditions_page .conditions_content ul li {padding: 5px 0 5px 18px;}
	.conditions_page .conditions_content h4 {font-size: 16px;}
	.conditions_page .advanced-info {font-size: 13px;}


	.page_404 {background-size: 240px; padding: 140px 0 80px}
	.page_404 h1 {font-size: 28px; line-height: 30px; width: 100%;}


	.contact_page #first-switcher>span {display: none;}
	.contact_page .info {display: flex; flex-flow: wrap;}
	.contact_page .info span {display: block; float: none; width: 100%; padding: 12px 0; margin-bottom: 0;}

	.contact_page .info .address {order: 4;}
	.contact_page .info .phone {order: 1;}
	.contact_page .info .email {order: 2;}
	.contact_page .info .viber {order: 3;}
	.contact_page .info span:not(:first-child) {margin-left: 0;}
	.contact_page .info span:before {top: 7px;}

	#first-switcher .title {display: none;}
	#first-switcher .title_mobile {display: block; float: none;}

	.contact_page #first-switcher .inner_block {padding: 0;}
	.contact_page #first-switcher #first_time_switcher {width: 100%; border: none;}
	.contact_page #first-switcher #first_time_switcher .switcher-item {width: 49% !important; height: 45px; line-height: 45px; font-size: 22px; color: rgba(36,36,36,0.6); background: none !important; border-radius: 0; text-align: left; padding: 0 10px; box-sizing: border-box;}
	.contact_page #first-switcher #first_time_switcher .switcher-item[selected="selected"] {color: #242424;}
	.contact_page #first-switcher #first_time_switcher .switcher-item:before {display: none;}
	.contact_page #first-switcher #first_time_switcher .switcher-item:after {content: ''; height: 3px; width: 100%; background: rgba(36,36,36,0.6); position: absolute; bottom: -3px; left: 0;}
	.contact_page #first-switcher #first_time_switcher .switcher-item[selected="selected"]:after {background: #3d80f9;}
	.contact_page #first-switcher #first_time_switcher .switcher-item:first-child {margin-right: 1%;}
	.contact_page #first-switcher #first_time_switcher .switcher-item:last-child {margin-left: 1%;}

	.contact_page .info .address .go_to_big_map {max-width: 100%;}

	.contact_page .map {height: 280px;}

	.popup_wrapp>div {padding: 0 40px 40px;}
	.popup_wrapp .form_field.checkbox_field {font-size: 14px;}

	.callback_form_block.no_page {display: none;}

	.similar-cars .best-deals .inner_block {padding-left: 0; padding-right: 0;}
	.similar-cars .best-deals .deals_block {width: calc(100% + 20px);}

	.best-deals .inner_block {padding-left: 0; padding-right: 0;}

	.product_page .owl-carousel .owl-stage-outer {padding-bottom: 40px;}
	.product_page .best-deals {margin-bottom: 60px;}

	.product .price_grid .price_grid_item {width: 18%;}
}
@media only screen and (max-width: 550px){
	.footer_block .footer .logo .copyright {margin: -20px 0 0;}
}
@media only screen and (max-width: 530px){
	.footer_block .footer .logo .copyright {font-size: 10px;}

	.product .price_grid .price_grid_item {width: 23%;}
}
@media only screen and (max-width: 500px){
	#first-switcher.remove {margin-top: -116px;}
}
@media only screen and (max-width: 450px){
	.footer_block .footer .logo .copyright {margin: -25px 0 0 12px;}

	.product .price_grid .price_grid_item {width: 31.33%;}
}
@media only screen and (max-width: 380px){
	.footer_block .footer .logo .copyright {margin: -30px 0 0 12px;}
}

/* ================================================ */



/* ---- FONTS ------------------------------------- */
@font-face {
	font-family: 'Roboto';
	src: url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
	font-family: 'RobotoLight';
	src: url(../fonts/Roboto/Roboto-Light.ttf);
}
@font-face {
	font-family: 'RobotoMedium';
	src: url(../fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
	font-family: 'RobotoBold';
	src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
	font-family: 'PFBeauSansPro';
	src: url(../fonts/PFBeauSansPro/pfbeausanspro-reg.ttf);
}
@font-face {
	font-family: 'PFBeauSansProLight';
	src: url(../fonts/PFBeauSansPro/pfbeausanspro-light.ttf);
}
@font-face {
	font-family: 'PFBeauSansProThin';
	src: url(../fonts/PFBeauSansPro/pfbeausanspro-thin.ttf);
}
@font-face {
	font-family: 'PFBeauSansProBold';
	src: url(../fonts/PFBeauSansPro/pfbeausanspro-bold.ttf);
}
@font-face {
	font-family: 'PFBeauSansProSemiBold';
	src: url(../fonts/PFBeauSansPro/pfbeausanspro-sebold.ttf);
}

/* ================================================ */

/* ---- SCROLL-UP --------------------------------- */
#scrollup { position:fixed;right:30px;bottom:30px;display:none;opacity:0.8;z-index:1000000 }
#scrollup .scrollup-block { background:#fff;width:40px;height:40px;cursor:pointer;border:1px solid #0073d1;-webkit-box-shadow:0px 0px 12px 0px rgba(0,0,0,0.7);-moz-box-shadow:0px 0px 12px 0px rgba(0,0,0,0.7);box-shadow:0px 0px 12px 0px rgba(0,0,0,0.7);-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50% }
#scrollup .scrollup-block:hover { border-color:#ffe400 }
#scrollup .scrollup-block:hover .triangle-arrow { background:#ffe400 }
#scrollup .scrollup-block:hover .triangle-arrow:before { border-color:#ffe400 }
#scrollup .scrollup-block:active { border-color:#008CFF }
#scrollup .scrollup-block:active .triangle-arrow { background:#008CFF }
#scrollup .scrollup-block:active .triangle-arrow:before { border-color:#008CFF }
#scrollup .scrollup-block .triangle-arrow { width:1px;height:14px;background:#0073d1;top:13px;position:absolute;left:20px }
#scrollup .scrollup-block .triangle-arrow:before { position:absolute;content:"";-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);top:0px;left:-4px;width:9px;height:9px;background:transparent;border-right:1px solid #0073d1;border-top:1px solid #0073d1 }
/* ================================================ */