@media only screen and (max-width: 640px) {
  .header {
    height: 80px; } }
.header .logo {
  width: 290px;
  height: 100%;
  float: left;
  position: relative; }
  @media only screen and (max-width: 960px) {
    .header .logo {
      position: absolute;
      top: 0;
      width: 100% !important;
      left: 0;
      z-index: 2; }
      .header .logo a {
        display: block; } }
  @media only screen and (max-width: 600px) {
    .header .logo a {
      display: block;
      height: 40px;
      max-width: 136px;
      position: relative;
      margin: 20px auto 0;
      right: 44px; } }
@media only screen and (max-width: 960px) {
  .header .main-sidebar {
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center; } }
.header .main-sidebar .menu_btn {
  z-index: 4; }
.header .menu a {
  color: #1f63df;
  border: 1px solid #1f63df;
  padding: 3px;
  border-radius: 3px;
  font-size: 15px;
  padding: 0 5px; }
  @media all and (max-width: 960px) {
    .header .menu a {
      border: none;
      color: #fff; } }
  .header .menu a.active {
    line-height: 30px;
    margin: 25px 15px 0;
    font-size: 15px;
    display: inline-block;
    color: #1f63df;
    text-decoration: none;
    font-family: 'RobotoMedium';
    box-shadow: 0 0 10px #035096;
    border: 2px solid #1f63df;
    border-radius: 3px; }
  .header .menu a:hover, .header .menu a:focus {
    text-decoration: none;
    color: #1f63df; }
.header .phone {
  height: 100%;
  align-items: center;
  display: flex; }
  .header .phone .cust-header-link {
    font-size: 20px;
    color: #484848;
    font-family: 'RobotoMedium';
    text-decoration: none;
    display: none; }
    @media only screen and (max-width: 960px) {
      .header .phone .cust-header-link {
        display: block;
        text-align: left; } }
  .header .phone .phone-contact {
    position: relative; }
    @media all and (max-width: 1200px) {
      .header .phone .phone-contact {
        display: none; } }
    .header .phone .phone-contact .phone-head {
      padding: 0 35px 5px 10px;
      display: flex;
      align-items: center;
      font-size: 20px;
      position: relative; }
      .header .phone .phone-contact .phone-head img {
        width: 32px;
        margin-right: 10px;
        height: 30px; }
      .header .phone .phone-contact .phone-head:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        transition: transform 0.3s;
        border-color: #484848 transparent;
        border-width: 8px 6px 0 6px;
        top: 10px;
        right: 20px; }
    .header .phone .phone-contact:hover .phone-head:after {
      transform: rotate(-180deg);
      -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg); }
    .header .phone .phone-contact .phone_body {
      position: absolute;
      display: none;
      width: 100%; }
      .header .phone .phone-contact .phone_body ul {
        list-style: none; }
        .header .phone .phone-contact .phone_body ul li {
          background: #fff;
          min-height: 55px; }
          @media only screen and (max-width: 960px) {
            .header .phone .phone-contact .phone_body ul li a {
              font-size: 20px;
              color: #484848;
              font-family: 'RobotoMedium';
              text-decoration: none;
              display: none; } }
          .header .phone .phone-contact .phone_body ul li .callback_show {
            display: block;
            color: #2d75f8;
            font-size: 14px;
            padding: 10px 15px;
            cursor: pointer; }
            .header .phone .phone-contact .phone_body ul li .callback_show:after {
              content: '';
              display: block;
              position: absolute;
              width: 42px;
              height: 42px;
              border-radius: 50%;
              background: #fff url(../images/phone_icon.png) no-repeat 50% 50%;
              bottom: -21px;
              left: 50%;
              margin-left: -21px;
              cursor: pointer; }

.best-deals {
  margin-bottom: 0; }

.mini_banners {
  margin-bottom: 0; }

/*
.picker_form {
  .select_label {
    .input_name {
      pointer-events: none;
    }
  }
}
*/
.info .info_show {
  text-decoration: none;
  color: #1f63df;
  font-size: 14px;
  font-family: 'RobotoMedium';
  margin-top: 5px;
  display: block;
  cursor: pointer; }
.info .more_info_text {
  margin-top: 100px;
  font-size: 15px; }

.description h2 {
  margin-bottom: 10px; }
.description img {
  float: left;
  margin-right: 10px; }

.seo_block h2 {
  margin-bottom: 10px;
  margin-top: 20px; }
.seo_block img {
  float: left;
  margin-right: 10px; }

.annotations {
  display: none; }

/*.products_list_block{
  .products_item {
    margin: 2px 10px 40px;

    .labels {

    }
    .attrs{
      margin-bottom: 15px;
      display: flex;
      span{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex:1;
      }
    }
  }
}*/
.sort_block {
  height: 90px; }
  .sort_block .fake_select {
    position: absolute; }
    @media all and (min-width: 1025px) {
      .sort_block .fake_select {
        right: 10px; } }
    .sort_block .fake_select input {
      display: none; }

/*
.result_to,
.result_from {
  pointer-events: none;
}
*/
.social {
  display: flex;
  margin: 0 auto; }
  @media all and (max-width: 1200px) {
    .social {
      width: 100%;
      display: block; } }
  @media all and (min-width: 1201px) {
    .social {
      display: flex;
      margin: 0 auto;
      position: relative;
      top: -57px;
      left: 66px;
      width: 50%;
      float: left; } }
  .social .title {
    margin-right: 10px; }
  .social .social-link {
    display: flex;
    justify-content: space-between; }
    .social .social-link a {
      display: flex;
      background: #fff;
      text-align: center;
      text-decoration: none;
      color: #1043a1;
      cursor: pointer;
      font-size: 14px;
      text-transform: uppercase;
      font-family: 'PFBeauSansProBold';
      position: relative;
      margin-bottom: 0;
      padding: 0 10px;
      padding-left: 46px;
      align-items: center; }
      @media all and (max-width: 960px) {
        .social .social-link a {
          line-height: 43px; } }
      .social .social-link a.instagram:before {
        content: '';
        position: absolute;
        left: 20px;
        width: 20px;
        height: 20px;
        background: url("../images/instagram.png") no-repeat;
        background-size: 100%; }
        @media all and (max-width: 960px) {
          .social .social-link a.instagram:before {
            top: 10px; } }
      .social .social-link a.facebook:before {
        content: '';
        position: absolute;
        left: 20px;
        width: 20px;
        height: 20px;
        background: url("../images/facebook.png") no-repeat;
        background-size: 100%; }
        @media all and (max-width: 960px) {
          .social .social-link a.facebook:before {
            top: 10px; } }

.header .city_switcher_block {
  height: auto; }
.header .lang-switcher {
  position: relative; }
.header .inner_block {
  padding-bottom: 0; }
  .header .inner_block .top-sidebar {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    max-width: 930px;
    float: right;
    position: absolute;
    right: 0;
    z-index: 4; }
    @media all and (max-width: 960px) {
      .header .inner_block .top-sidebar {
        top: 30px;
        z-index: 4; } }
    .header .inner_block .top-sidebar .fake_select {
      margin-top: 0; }
    .header .inner_block .top-sidebar .massage-block {
      display: flex;
      max-width: 148px;
      width: 100%;
      justify-content: space-between; }
      @media all and (max-width: 600px) {
        .header .inner_block .top-sidebar .massage-block {
          max-width: 100px;
          padding-right: 45px; } }
      .header .inner_block .top-sidebar .massage-block .messenger {
        display: block; }
    .header .inner_block .top-sidebar .phone {
      display: none; }
      @media all and (max-width: 960px) {
        .header .inner_block .top-sidebar .phone {
          position: absolute;
          display: flex;
          align-items: center;
          top: -16px;
          height: auto;
          right: 13px; }
          .header .inner_block .top-sidebar .phone img {
            width: 20px;
            margin-right: 5px; }
          .header .inner_block .top-sidebar .phone a {
            font-family: 'Roboto';
            font-weight: bold; } }
.header .left_part {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  height: 80px;
  align-items: center; }
  @media all and (max-width: 1160px) {
    .header .left_part {
      display: flex;
      width: 50%;
      float: left; } }
  @media all and (max-width: 960px) {
    .header .left_part {
      display: none;
      position: fixed;
      z-index: 999999;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      opacity: 0;
      transition: opacity 0.3s; } }
  .header .left_part .left_part_inner {
    flex: 2;
    position: relative;
    z-index: 4;
    transition: 0s; }
    .header .left_part .left_part_inner .menu {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      margin: 0; }
      @media all and (max-width: 960px) {
        .header .left_part .left_part_inner .menu {
          display: block;
          padding: 20px 20px; } }
      .header .left_part .left_part_inner .menu a {
        margin: 0; }
        @media all and (max-width: 960px) {
          .header .left_part .left_part_inner .menu a {
            font-size: 18px; } }
        @media all and (max-width: 960px) {
          .header .left_part .left_part_inner .menu a.active {
            color: #1f63df;
            text-decoration: none;
            font-family: 'RobotoMedium';
            padding: 0 10px;
            border: none;
            border-radius: 0px;
            background: #fff; } }
  .header .left_part .right_part_inner {
    flex: 1;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: flex-end;
    padding-left: 30px; }
    @media all and (max-width: 1160px) {
      .header .left_part .right_part_inner {
        position: absolute;
        right: 10%;
        margin-top: 10px;
        height: auto; } }
    @media all and (max-width: 960px) {
      .header .left_part .right_part_inner {
        display: none; } }
    .header .left_part .right_part_inner .mobile_title {
      display: none; }
    .header .left_part .right_part_inner .fake_select {
      margin-top: 0; }
      .header .left_part .right_part_inner .fake_select .fake_select_body {
        position: absolute;
        background: white; }

.lang-switcher-new {
  height: 100%;
  align-items: flex-end;
  bottom: 0;
  position: relative; }
  @media all and (max-width: 1160px) {
    .lang-switcher-new {
      position: absolute;
      right: 25px;
      height: auto;
      align-items: flex-end;
      max-height: 30px;
      bottom: inherit;
      margin-top: 10px; } }
  @media all and (max-width: 960px) {
    .lang-switcher-new {
      right: inherit; } }
  .lang-switcher-new .fake_select_body {
    position: absolute;
    background: white; }
    @media all and (max-width: 960px) {
      .lang-switcher-new .fake_select_body {
        background: none; } }
  .lang-switcher-new .mobile_title {
    display: none; }

.lang-switcher-new,
.city-switcher-new {
  display: flex; }

.massage-block {
  display: flex;
  padding-right: 20px;
  margin-top: 6px; }
  @media all and (max-width: 600px) {
    .massage-block {
      margin-top: 12px; } }
  .massage-block .messenger {
    display: block;
    margin: 0 11px; }
    @media all and (max-width: 600px) {
      .massage-block .messenger {
        margin: 0 5px; } }

.mobile-view {
  display: none; }
  @media all and (max-width: 960px) {
    .mobile-view {
      display: block; } }
  .mobile-view #first-switcher {
    display: block;
    padding: 20px 20px;
    background: #2c75f8;
    padding-top: 125px; }
    .mobile-view #first-switcher #first_time_switcher {
      display: flex; }
    .mobile-view #first-switcher .mobile_title {
      width: 100%;
      display: block;
      margin-bottom: 20px;
      color: #ffff;
      font-size: 16px; }
    .mobile-view #first-switcher .switcher-item {
      width: 100%; }
      .mobile-view #first-switcher .switcher-item:before {
        display: none !important; }
    .mobile-view #first-switcher #catalog_switcher {
      display: flex;
      flex-wrap: wrap; }
      .mobile-view #first-switcher #catalog_switcher label {
        padding: 6px 0;
        width: 31%;
        background: white;
        text-align: center;
        margin: 1%; }
        .mobile-view #first-switcher #catalog_switcher label span {
          text-decoration: none;
          color: #1043a1;
          line-height: 25px;
          padding: 0 15px;
          display: block;
          cursor: pointer;
          font-size: 14px;
          text-transform: uppercase;
          font-family: 'PFBeauSansProBold'; }
  .mobile-view .phone {
    padding: 20px 20px;
    display: block;
    background: #2c75f8;
    width: 100%;
    max-width: 100%; }
    .mobile-view .phone .form-title {
      width: 100%;
      display: block;
      color: #ffff;
      font-size: 16px;
      margin: 0;
      margin-bottom: 20px;
      text-align: center; }
    .mobile-view .phone .phone-content {
      display: flex;
      align-items: center;
      justify-content: center; }
      .mobile-view .phone .phone-content img {
        max-width: 30px;
        margin-right: 15px; }
      .mobile-view .phone .phone-content a {
        color: #fff;
        font-size: 18px; }
  .mobile-view .massage-block {
    padding: 20px 20px;
    /* width: 100%; */
    /* max-width: 100%; */
    background: #fff;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 0; }
  .mobile-view .social {
    padding: 20px 20px;
    display: block;
    width: auto;
    background: #2c75f8; }
    .mobile-view .social .title {
      width: 100%;
      display: block;
      color: #ffff;
      font-size: 16px;
      margin: 0;
      margin-bottom: 20px;
      text-align: center; }
    .mobile-view .social .social-link {
      display: block;
      width: 100%; }
      .mobile-view .social .social-link a {
        display: block;
        min-width: 140px;
        background: #fff;
        margin-bottom: 10px;
        text-align: center;
        padding: 10px;
        text-decoration: none;
        color: #1043a1;
        cursor: pointer;
        font-size: 14px;
        text-transform: uppercase;
        font-family: 'PFBeauSansProBold';
        position: relative; }
        @media all and (max-width: 800px) {
          .mobile-view .social .social-link a {
            line-height: 1.4em; } }
        .mobile-view .social .social-link a.facebook:before {
          content: '';
          position: absolute;
          left: 20px;
          width: 20px;
          height: 20px;
          background: url("../images/facebook.png") no-repeat;
          background-size: 100%; }
          @media all and (max-width: 960px) {
            .mobile-view .social .social-link a.facebook:before {
              top: 10px; } }
        .mobile-view .social .social-link a.instagram:before {
          content: '';
          position: absolute;
          left: 20px;
          width: 20px;
          height: 20px;
          background: url("../images/instagram.png") no-repeat;
          background-size: 100%; }
          @media all and (max-width: 960px) {
            .mobile-view .social .social-link a.instagram:before {
              top: 10px; } }

@media all and (max-width: 960px) {
  .lang-switcher-new {
    transition: left 0.3s;
    width: 415px;
    height: auto;
    padding: 20px 20px;
    background: #4b8af9;
    margin: 0;
    bottom: inherit;
    display: block;
    top: 0; }
    .lang-switcher-new .mobile_title {
      width: 100%;
      display: block;
      color: #ffff;
      font-size: 16px;
      margin: 0;
      margin-bottom: 20px;
      position: relative;
      z-index: 10; }
    .lang-switcher-new .fake_select {
      overflow: visible;
      margin: 0;
      background: none;
      width: 100%; }
      .lang-switcher-new .fake_select .fake_select_head {
        display: none !important; }
      .lang-switcher-new .fake_select .fake_select_body {
        width: 100%; }
        .lang-switcher-new .fake_select .fake_select_body ul {
          display: flex;
          padding: 0;
          margin: 0;
          width: 100%;
          float: left;
          box-sizing: border-box;
          border: 1px solid #6c9ffa;
          border-radius: 20px; }
          .lang-switcher-new .fake_select .fake_select_body ul li {
            width: 100%;
            height: 40px;
            float: left;
            margin-top: -1px;
            line-height: 40px;
            text-align: center;
            font-size: 15px;
            color: rgba(255, 255, 255, 0.8);
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center; }
            .lang-switcher-new .fake_select .fake_select_body ul li.current {
              background: #fff;
              border-radius: 20px; }
              .lang-switcher-new .fake_select .fake_select_body ul li.current a {
                color: #2d75f8;
                display: inline-block; }
              .lang-switcher-new .fake_select .fake_select_body ul li.current:before {
                content: '';
                display: inline-block;
                width: 20px;
                height: 12px;
                background: url(../images/check_first_switcher_icon.png) no-repeat 50% 50%;
                margin-right: 7px; }
            .lang-switcher-new .fake_select .fake_select_body ul li a {
              font-family: 'Roboto';
              color: rgba(255, 255, 255, 0.8);
              background: none !important; } }
@media all and (max-width: 460px) {
  .lang-switcher-new {
    width: 90%; } }

@media only screen and (max-width: 640px) {
  .footer_block .footer .logo {
    bottom: -180px; } }
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

.menu-name {
  display: none; }
  @media all and (max-width: 960px) {
    .menu-name {
      display: block;
      padding-left: 25px;
      font-family: 'Roboto';
      color: #2d75f8; } }
  @media all and (max-width: 640px) {
    .menu-name {
      padding-left: 17px; } }

@media all and (max-width: 960px) {
  #first-switcher #first_time_switcher {
    display: flex;
    width: 100%; }
    #first-switcher #first_time_switcher .switcher-item {
      width: 100%; }
      #first-switcher #first_time_switcher .switcher-item:before {
        display: none; } }

.city-switcher-new #catalog_switcher_header {
  position: relative; }
  .city-switcher-new #catalog_switcher_header .catalog_switcher_title {
    position: relative;
    display: block;
    padding: 0 30px 0px 15px;
    height: 26px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'PFBeauSansProBold';
    text-align: left;
    cursor: pointer;
    color: #1043a1; }
    .city-switcher-new #catalog_switcher_header .catalog_switcher_title:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      top: 5px;
      right: 12px;
      border-style: solid;
      border-color: #1043a1 transparent;
      border-width: 6px 5px 0px 5px;
      transition: transform 0.3s; }
  .city-switcher-new #catalog_switcher_header ul {
    display: none;
    position: absolute;
    background: white; }
    .city-switcher-new #catalog_switcher_header ul li {
      list-style: none; }
      .city-switcher-new #catalog_switcher_header ul li a {
        text-decoration: none;
        color: #1043a1;
        line-height: 25px;
        padding: 0 15px;
        display: block;
        cursor: pointer;
        font-size: 14px;
        text-transform: uppercase;
        font-family: 'PFBeauSansProBold';
        white-space: nowrap; }
        .city-switcher-new #catalog_switcher_header ul li a:hover {
          background: #e3e3e3; }
  .city-switcher-new #catalog_switcher_header:hover .catalog_switcher_title:after {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg); }

.mobile-view #catalog_switcher_header {
  width: 100%; }
  .mobile-view #catalog_switcher_header .catalog_switcher_title {
    display: none; }
  .mobile-view #catalog_switcher_header ul {
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
    float: left;
    box-sizing: border-box;
    border: 1px solid #6c9ffa;
    border-radius: 20px; }
    .mobile-view #catalog_switcher_header ul li {
      list-style: none;
      width: 100%;
      height: 40px;
      float: left;
      margin-top: -1px;
      line-height: 40px;
      text-align: center;
      font-size: 15px;
      color: rgba(255, 255, 255, 0.8);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center; }
      .mobile-view #catalog_switcher_header ul li a {
        text-decoration: none;
        line-height: 40px;
        padding: 0 15px;
        display: block;
        cursor: pointer;
        font-size: 14px;
        text-transform: uppercase;
        font-family: 'Roboto';
        color: rgba(255, 255, 255, 0.8);
        background: none; }
        .mobile-view #catalog_switcher_header ul li a.active {
          background: #fff;
          border-radius: 20px;
          color: #2d75f8; }

#adv_options {
  display: none; }

.products_list_block .products_item .labels {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1; }
  .products_list_block .products_item .labels .special_label {
    background-size: 50% 50% !important;
    background-repeat: no-repeat !important;
    left: 5px;
    padding: 2px 10px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'PFBeauSansProSemiBold';
    position: relative;
    margin-bottom: 5px;
    line-height: 30px;
    text-align: center;
    min-width: 74px; }

.deals_block .deal_item .labels,
.deals_block .owl-item .labels {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1; }
  .deals_block .deal_item .labels .special_label,
  .deals_block .owl-item .labels .special_label {
    background-size: 50% 50% !important;
    background-repeat: no-repeat !important;
    left: 5px;
    padding: 2px 10px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'PFBeauSansProSemiBold';
    position: relative;
    margin-bottom: 5px;
    line-height: 30px;
    text-align: center;
    min-width: 74px; }

.product .images_block .labels {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1; }
  .product .images_block .labels .special_label {
    background-size: 50% 50% !important;
    background-repeat: no-repeat !important;
    left: 5px;
    padding: 2px 10px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'PFBeauSansProSemiBold';
    position: relative;
    margin-bottom: 5px;
    line-height: 30px;
    text-align: center;
    min-width: 74px; }

.class_label {
  position: absolute;
  right: 30px;
  font-family: 'PFBeauSansPro';
  font-size: 15px;
  color: #484848; }

/*# sourceMappingURL=new_style.css.map */
