<section class="best-deals">
    <div class="inner_block">
        {% if similarCars is not empty %}
            <span class="title">{{ similarCarsLabel }} </span>
            <div class="deals_block owl-carousel">
                {% for deal in similarCars %}
                    <div class="deal deal_item">
                        <div class="labels">
                            {% if deal.car_labels %}
                                {% for labels in  deal.car_labels %}


                                    <div class="special_label label"
                                         style="color: {{ labels.color_text }}; background:radial-gradient(circle at top left, transparent 6px,  {{ labels.color_label }} 0) top left, radial-gradient(circle at top right, transparent 6px,  {{ labels.color_label }} 0) top right, radial-gradient(circle at bottom right, transparent 6px,  {{ labels.color_label }} 0) bottom right, radial-gradient(circle at bottom left, transparent 6px,  {{ labels.color_label }} 0) bottom left;">
                                        {{ labels.name }}</div>

                                {% endfor %}
                            {% endif %}

                        </div>
                        <span class="class_label label">{{ deal.class_label }}</span>
                        <a href="{{ deal.post_url }}">
                            <div class="image-holder">
                                <div class="image">
                                    {% if deal.main_thumnail_url is not empty  %}
                                        <img src="{{deal.main_thumnail_url }}" alt="{{ deal.post_title }}"/>
                                    {% else %}
                                        <img src="{{ deal.default_thumnail_url }}" alt="{{ deal.post_title }}"/>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                        <span class="title">{{ deal.post_title }}</span>
                        {#<div class="price">#}
                            {#{% if deal.specialPrice != false %}#}
                                {#<span class="special-price">#}
                                    {#{{ theme_options.currency }}{{ deal.specialPrice }}#}
                                {#</span>#}
                                {#<span class="regular-price">#}
                                    {#{{ theme_options.currency }}{{ deal.regularPrice }}#}
                                {#</span>#}
                            {#{% else %}#}
                                {#<span class="special-price">#}
                                    {#{{ theme_options.currency }}{{ deal.regularPrice }}#}
                                {#</span>#}
                            {#{% endif %}#}

                        {% if deal.priceTable is not empty %}
                            <div class="price_grid">
                                {% for column in deal.priceTable %}
                                    <div class="price_grid_item">
                                        <div class="top_part"> 
                                            <span class="from">{{ column.date_from }}</span>
                                            -
                                            <span class="to">{{ column.date_to }}</span>
                                            <span class="days">
                                                <img class="for_day" src="{{ lang.day_src }}" alt="{{ lang.for_day_png }}"/>
                                            </span>
                                        </div>
                                        <span class="price">
                                            {{ column.price }}{{ theme_options.currency }}
                                </span>
                                    </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                        <div class="attrs">
                            <span class="passengers_num">{{ deal.acf.passengers_num.value }}</span>
                            <span class="baggage_number">{{ deal.acf.baggage_number.value }}</span>
                            <span class="transmission">{{ deal.acf.transmission.value }}</span>
                            <span class="doors_number">{{ deal.acf.doors_number.value }}</span>
                        </div>
                        <div class="show_on_hover">
                            <button
                                    name="order"
                                    class="order order_show"
                                    data-id="{{ deal.ID }}"
                                    data-title="{{ deal.post_title }}"
                                    data-price="{{ theme_options.currency }}{{ deal.calculatedPrice }}"
                                    data-cities="{{ deal.orderCities }}"
                                    data-delivery="{{ deal.deliveryPrice }}"
                            >{{ lang.order_text }}</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</section>