<div class="sort-cars">
    <div class="others-filters">
        <div class="filters">
            <div class="filter">
                <div class="fake_select sel" data-styled-select-number="1">
                    <div class="fake_select_head">
                        <label>
                           <span><strong>{{ lang.sort_by_catalog }}</strong> </span>
                        </label>
                    </div>
                    <div class="fake_select_body">
                        <ul>
                            <li class="def">
                                <label style="display: none">
                                    <input type="radio" name="" value=""> <span> <a class="ev_filter"
                                                                                    href=""> {{ lang.sort_by_catalog }}</a> </span>

                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" name="sort-by" value="high"> <span><a class="ev_filter"
                                                                                              href="">{{ lang.sort_by_hight_to_low }}</a> </span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" name="sort-by" value="low"> <span><a class="ev_filter"
                                                                                             href="">{{ lang.sort_by_low_to_hight }}</a> </span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" name="sort-by" value="popularity"> <span><a class="ev_filter"
                                                                                                    href="">{{ lang.sort_by_popularity }}</a> </span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>