<section class="advantages">
    <div class="inner_block">
        {% if page.acf.advantages.value is not empty %}
            {% for advantage in page.acf.advantages.value %}
                {% if advantage.icon !='' and advantage.title !='' %}
                    <div class="advantage-item">
                        <div class="image_block">
                            <img width="100px" height="100px" src="{{ advantage.icon }}" alt="advantage-{{ loop.index }}" title="advantage-{{ loop.index }}"/>
                        </div>
                        <div class="info_block">
                            <span class="title">{{ advantage.title }}</span>
                            {% if advantage.text !='' %}
                                <div class="description">
                                    {{ advantage.text }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</section>