<section class="home_page annotations">
    <div class="inner_block">
     {% if page.acf.annotations.value is not empty %}
        {{ page.acf.annotations.value }}
     {% endif %}
    </div>
</section>