<style>
.main_page {width: 100%;}
.main_page ul {list-style: none; padding-left: 15px; margin: 0 0 25px;}
.main_page ul li {position: relative; font-size: 15px; color: rgba(36,36,36,0.8); line-height: 16px; padding: 10px 0 10px 18px;}
.main_page ul li:before {content: ''; display: block; position: absolute; left: 0; top: 16px; width: 6px; height: 6px; background: #3c7ff8; border-radius: 50%; box-sizing: border-box;}

.main_page h4 {font-size: 20px; color: #242424; line-height: 24px; margin: 0 0 15px; font-family: 'PFBeauSansProSemiBold';}
.main_page p {font-size: 15px; color: rgba(36,36,36,0.8); line-height: 22px; margin: 0 0 25px;}

.main_page {line-height: 22px; font-size: 15px; color: #242424; font-family: 'RobotoMedium'; box-sizing: border-box; position: relative;}
</style>

<selection class="description">
	<div class="inner_block main_page">
		{% if description is not empty %}
			{{ description }}
		{% endif %}
	</div>
</selection>