<section class="banners">
    {% if banners is not empty %}
        {% for banner in banners %}
            <div class="banner-item">
                {% if banner.link !=''%}
                    <a href="{{ banner.link }}">
                        <img src="{{ banner.banner }}" alt="{{ title_h1 }}" title="{{ title_h1 }}"/>
                    </a>
                {% else %}
                    <img src="{{ banner.banner }}" alt={{ title_h1 }}" title="{{ title_h1 }}"/>
                {% endif %}
                {# Текст банера #}
               {# <div class="title_h1">
                    <h1>{{ title_h1 }}</h1>
                </div>#}
            </div>
        {% endfor %}
    {% endif %}
</section>