<section class="mini_banners">
    <div class="inner_block">
        <div class="banners_block">
            {% if bannersMini is not empty %}
                {% for banner in bannersMini %}
                    <div class="banner-item">
                        {% if banner.link !=''%}
                            <a href="{{ banner.link }}" rel="nofollow">
                                <img height="300px" src="{{ banner.banner }}" alt="banner-{{ loop.index }}" title="banner-{{ loop.index }}"/>
                            </a>
                        {% else %}
                            <img height="300px" src="{{ banner.banner }}" alt="banner-{{ loop.index }}" title="banner-{{ loop.index }}"/>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
<section class="mini_banners_mobile">
    <div class="inner_block">
        <div class="banners_block">
            {% if bannersMiniMobile is not empty %}
                {% for banner in bannersMiniMobile %}
                    <div class="banner-item">
                        {% if banner.link !=''%}
                            <a href="{{ banner.link }}" rel="nofollow">
                                <img height="300px" src="{{ banner.banner }}" alt="banner-{{ loop.index }}" title="banner-{{ loop.index }}"/>
                            </a>
                        {% else %}
                            <img height="300px" src="{{ banner.banner }}" alt="banner-{{ loop.index }}" title="banner-{{ loop.index }}"/>
                        {% endif %}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>