<section class="picker_section">
    <div class="inner_block">
        {% if cities is not empty and car_classes is not empty  %}
            <div class="picker">
                <span class="title">{{ lang.picker_title }}</span>
                <form class="picker_form" id="picker_form" method="post">
					<div class="form-field">
                        <span class="car_counter_block">{{ lang.car_counter_text }} <span id="car_counter">{{ car_counter }}</span></span>
                        <label for="city_picker" class="select_label">
                            {% if theme_options.switcher !='disable' %}
                                <select name="city" id="city_picker"{% if cities|length == 1 %} class="forever-alone"{% endif %}>
                                    {% for city in cities %}
                                        <option
                                                {% if current_cityID == city.term_id %} selected="selected" {% endif %}
                                                value="{{ city.term_id }}">{{ city.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            {% else %}
                                <select name="city" id="city_picker" class="forever-alone">
                                    {% for city in cities %}
                                        {% if current_cityID == city.term_id %}
                                            <option selected="selected" value="{{ city.term_id }}">{{ city.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            {% endif %}
                            <span class="input_name">{{ lang.from_city_text }}</span>
                        </label>
                    </div>

                    <div class="form-field">
                        <label for="car_class" class="select_label">
                            <select name="car_class" id="car_class">
                                {% for class in car_classes %}
                                    <option value="{{ class.term_id }}">{{ class.name }} </option>
                                {% endfor %}
                            </select>
                            <span class="input_name">{{ lang.car_class_text }}</span>
                        </label>
                    </div>

                    <div class="form-field">
                        <label for="when" class="date_label">
                            <input type="text" name="when" id="when" class="when datepicker" value="{{ post.published_at|date("d.m.Y") }}" placeholder="00.00.0000" data-hours="10" data-minutes="00">
                            <span class="input_name">{{ lang.when_text }}</span>
                        </label>
                        <label for="return" class="date_label">
                            <input type="text" id="return" name="return" class="return datepicker" value="{{ post.published_at|date_modify("+1 day")|date("d.m.Y") }}" placeholder="00.00.0000" data-hours="10" data-minutes="00">
                            <span class="input_name">{{ lang.return_text }}</span>
                        </label>
                    </div>
                    <button name="pick_up" id="pick_up" class="pick_up">{{ lang.pick_up_text }}</button>
                </form>
            </div>
        {% endif %}
    </div>
</section>